@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700&subset=devanagari,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
}
/*====================
1.  Basic Style
=====================*/
hr.fancy-line {
    border: 0;
    height: 1px;
    position: relative;
    margin: 0.5em 0; /* Keep other elements away from pseudo elements*/
}
hr.fancy-line:before {
    top: -0.5em;
    height: 1em;
}
hr.fancy-line:after {
    content:'';
    height: 0.5em;   /* half the height of :before */
    top: 1px;        /* height of hr*/
}

hr.fancy-line:before, hr.fancy-line:after {
    content: '';
    position: absolute;
    width: 100%;
}

hr.fancy-line, hr.fancy-line:before {
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
    background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%,rgba(0,0,0,0.1)), color-stop(75%,rgba(0,0,0,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: radial-gradient(ellipse at center, rgb(230, 36, 78) 0%,rgba(0,0,0,0) 75%);
}

body, hr.fancy-line:after {
    background: #f4f4f4;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
}
a:hover {
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}



img {
    max-width: 100%;
}

select option {
    padding: 5px;
    font-weight: 400;
    text-transform: capitalize;
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.ptb-20 {
    padding: 20px 0;
}

.ptb-30 {
    padding: 30px 0;
}

.ptb-40 {
    padding: 40px 0;
}

.ptb-50 {
    padding: 50px 0;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-minus-53 {
    margin-top: -53px;
}


/*====================
2.  background images
=====================*/

.top-banner-bg-1 {
    background-image: url(img/banner/top_banner1.jpg);
}

.top-banner-bg-2 {
    background-image: url(img/banner/top_banner2.jpg);
}

.top-banner-bg-3 {
    background-image: url(img/banner/top_banner3.jpg);
}

.top-banner-bg-4 {
    background-image: url(img/banner/top_banner4.jpg);
}


/*====================
3.  Top banner
=====================*/

.top-banner-area {
    background-size: cover;
    background-position: center;
    height: 80px;
    padding: 30px 0px;
}

.hide-top-banner {
    transition: 0.3s;
    margin-top: -120px;
}

.top-banner-area .icon {
    float: left;
    margin-top: -20px;
    margin-right: 30px;
}

.top-banner-area .description {
    color: #fff;
    padding-top: 20px;
}

.learn-more-btn a {
    cursor: pointer;
    color: #fff;
    border: 2px solid #fff;
    display: inline-block;
    padding: 11px 30px;
    margin-top: 7px;
}

.learn-more-btn a:hover {
    background-color: #F36523;
    border-color: #F36523;
}

.close-section-btn {
    color: #fff;
    position: absolute;
    right: -20px;
    top: -10px;
    font-size: 18px;
    cursor: pointer;
}


/*====================
4.  Banner Style
=====================*/

.banner-hover {
    position: relative;
    z-index: 1;
    display: block;
}

.banner-hover:after,
.banner-hover:before {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    content: "";
    left: 50%;
    right: 51%;
    opacity: 1;
    top: 0;
    bottom: 0;
}

.banner-hover:after {
    left: 0;
    right: 0;
    top: 50%;
    bottom: 51%;
}

.banner-hover:hover:after {
    top: 0;
    bottom: 0;
}

.banner-hover:hover:before {
    left: 0;
    right: 0;
}

.banner-hover:hover:after,
.banner-hover:hover:before {
    opacity: 0;
    transition: 0.8s;
    transition-timing-function: ease-in;
}



/*====================
5.  header
=====================*/

header {
    background-color: #fff;
}

#mobileMenu {
    display: none;
}


/*====================
5.1 header top
=====================*/

.header-top-area {
    background: #000000de;
}


/*====================
5.1.1  header top contact
=====================*/

.header-address,
.header-menu ul li a {
    line-height: 35px;
}

.header-address {
    float: left;
    margin-right: 15px;
    font-size: 12px;
    margin-left: 1px;
    color: #fff;
}

.header-address a {
    color: #282828;
}

.header-address:hover a,
.header-menu ul li:hover>a {
    color: #e6244e;
}


/*====================
5.1.2  header top menu
=====================*/

.header-menu ul {
    text-align: right;
}

.header-menu ul li {
    display: inline-block;
    position: relative;
}

.header-menu ul li a {
    color: #888888;
    font-size: 12px;
    padding: 0 13px;
    text-transform: capitalize;
}

.header-menu ul li a span {
    color: #282828;
}

.header-menu>ul>li>a {
    border-left: 1px solid #ebebeb;
}

.header-menu>ul>li:last-child>a {
    border-right: 1px solid #ebebeb;
}

.header-menu ul ul {
    position: absolute;
    width: 120%;
    background-color: #fff;
    z-index: 9999999;
    text-align: left;
    box-shadow: 0px 2px 5px -1px #999;
    transition: 0.3s;
    transform-origin: 0 0 0;
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
}

.header-menu ul li:hover ul {
    opacity: 1;
    transform: scaleY(1);
    visibility: visible;
}

.header-menu ul ul li {
    display: block;
}

.header-menu ul ul li a {
    line-height: 30px;
    color: #282828;
}


/*====================
6.  Main header
=====================*/

.main-header-area {
    padding: 5px 0px;
    box-shadow: 0 5px 8px -5px rgba(71, 57, 57, 0.31);
    background: url("../site_asset/img/bg-menu.jpg");
    background-repeat: no-repeat;
    background-position: right;
}

.catagory-bar,
.total-cart {
    padding-top: 24px;
}

.header-search {
    position: relative;
    background-color: #fff;
    font-size: 13px;
    border: 1px solid #e6244e;
}

.header-search input {
    background-color: transparent;
    border: 0px;
    padding: 10px 0px 10px 20px;
}

.header-search span {
    position: relative;
    margin-left: 20px;
}

.header-search span:before {
    position: absolute;
    width: 2px;
    height: 20px;
    content: "";
    background-color: #e1e1e1;
    top: -1px;
    left: 10px
}

.header-search #select {
    background-color: transparent;
    border: none;
    position: relative;
    right: -20px;
}

.header-search #select:after {
    content: "\f107";
    font-family: 'fontawesome';
    position: absolute;
    right: -50px;
    display: block;
}

.header-search button {
    position: absolute;
    right: 0;
    height: 100%;
    width: 60px;
    font-size: 24px;
    border: 0px;
    background-color: #e6244e;
    color: #fff;
}


/*====================
7.  header cart
=====================*/

.total-cart {
    position: relative;
}
.cart-button {

}
.cart-button a {
    color: #333;
    display: block;
    text-align: left;
    padding: 6px;
    font-size: 12px;
    height: 42px;
    line-height: 34px;
}

.cart-button a span.price {
    display: block;
    position: relative;
}

.cart-button a span.price:after {
    content: "2";
    position: absolute;
    margin-left: -26px;
    background-color: #F36523;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
    top: -9px;
    box-shadow: 0px 2px 10px -3px #000;
}

.cart-button a span.price:before {
    background-color: #F36523;
    content: "";
    width: 8px;
    height: 8px;
    content: "";
    top: -3px;
    position: absolute;
    margin-left: -28px;
    z-index: 9;
    transform: rotate(45deg);
}

.cart-button a i {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    width: 32px;
    float: left;
    text-align: center;
    font-size: 32px;
    position: relative
}

.t__cart
{
    background: #ca5050;
    color: #fff;
    padding: 2px 4px;
    border-radius: 50%;
    position: relative;
    top: -13px;
    left: -10px;
    overflow: hidden;
}

.cart-item {
    background-color: #ffffff;
    border-top: 1px solid #efefef;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    opacity: 0;
    padding: 25px 25px 0px;
    position: absolute;
    right: 0;
    transform: scaleY(0);
    transform-origin: 0 0 0;
    transition: all 0.5s ease 0s;
    visibility: hidden;
    width: 340px;
}

.total-cart:hover .cart-item {
    opacity: 1;
    transform: scaleY(1);
    visibility: visible;
    z-index: 999;
}

.single-item::after {
    background-color: #777777;
    border-radius: 50%;
    color: #ffffff;
    content: "x";
    cursor: pointer;
    height: 16px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 16px;
    font-weight: 700;
    line-height: 14px;
}

.cart-item .single-item .item-img {
    border: 1px solid #efefef;
    display: block;
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 25%;
    position: relative;
    transition: .5s;
}

.cart-item .single-item .item-img:hover {
    border-color: #F36523;
}

.item-img span.quality {
    background-color: #444444;
    border-radius: 50%;
    color: #ffffff;
    height: 25px;
    left: -10px;
    line-height: 25px;
    position: absolute;
    text-align: center;
    top: -10px;
    width: 25px;
    z-index: 999;
}

.cart-item .single-item .item-info {
    float: left;
    width: 60%;
}

.cart-item .single-item:first-child {}

.cart-item .single-item {
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #efefef;
    margin-bottom: 20px;
}

.cart-item .single-item .item-info a,
.cart-item .single-item .item-info a.title span {
    color: #666;
    display: inline-block;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 3px;
}

.cart-item .single-item .item-info a.title {
    display: block;
}

.cart-item .single-item .item-info a.title:hover {
    color: #3069af;
}

.cart-item .single-item .item-info span {
    display: block;
    font-weight: 700;
    margin-top: 5px;
}

.subtotal h3 {
    font-size: 12px;
    font-weight: 700;
    margin-top: 15px;
    text-transform: uppercase;
}

.subtotal h3 span {
    float: right;
    font-size: 12px;
    margin-top: -3px;
}

.cart-item .checkout {
    background-color: #F36523;
    line-height: 40px;
    margin-top: 25px;
    margin-left: -50px;
    left: 25px;
    position: relative;
    text-align: center;
    padding: 20px 0px;
}

.cart-item .checkout a {
    color: #434343;
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
    background-color: #ffffff;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
}

.cart-item .checkout a:hover {
    background-color: #232323;
    color: #fff;
}

.cart-item .checkout a i {
    font-weight: 700;
}


/*====================
8.  Mainmenu
=====================*/

.mainmenu ul li {
    display: inline-block;
    position: relative;
}

.mainmenu ul li a {
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    display: block;
    letter-spacing: 0.05em;
    padding: 20px 25px;
    text-transform: uppercase;
    line-height: 25px;
}

.mainmenu ul li.active>a {
    color: #F36523;
}

.mainmenu ul li:first-child>a {
    padding-left: 0px;
}

.mainmenu ul li:hover>a {
    color: #F36523;
}


/*====================
9.  Submenu
=====================*/

.mainmenu ul li ul {
    position: absolute;
    z-index: 9999;
    width: 220px;
    top: 100%;
    background-color: #000;
    transition: 0.3s;
    transform: scaleY(0);
    transform-origin: 0 0 0;
    opacity: 0;
    visibility: hidden;
}

.mainmenu ul li ul li {
    display: block;
}

.mainmenu ul li ul li a {
    text-transform: capitalize;
    font-weight: 600;
    color: #f1f1f1;
    padding: 10px 20px;
    border-bottom: 1px solid #222;
}

.mainmenu ul li ul li:first-child>a {
    padding-left: 20px;
}

.mainmenu ul li:hover>ul {
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
}


/*====================
10.  Category menu
=====================*/

.header-bottom {
    background-color: #000000;
    transition: 0.3s;
}

.header-bottom.stick {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.75);
}

.header-bottom.stick:hover {
    background-color: rgba(0, 0, 0, 1);
}

.no-full-bg {
    background-color: transparent;
}

.header-section-bg {
    background-color: #000;
    margin-left: -15px;
    padding-left: 30px;
}

.more-catagory-item,
.less-catagory {
    display: none;
}

.catagory-heading {
    cursor: pointer;
}

.catagory-heading h2 {
    background-color: #e6244e;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 25px;
    margin: 0;
    padding: 10px 0px 10px 50px;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
}

.stick .catagory-heading h2 {
    background-color: #b68e43;
    transition: 0.3s;
}

.stick .catagory-heading h2:hover {
    background-color: #F36523;
}

.catagory-heading h2:before {
    color: #ffffff;
    font-family: fontawesome;
    position: absolute;
    content: "\f0c9";
    left: 10px;
    font-size: 14px;
    width: 30px;
    height: 30px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    text-align: center;
    line-height: 27px;
    top: 7px;
}

.catagory-list-menu ul li {
    line-height: 35px;
}

.catagory-list-menu ul li a {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    color: #333;
    display: block;
    font-size: 14px;
    text-transform: capitalize;
    font-family: Arial;
    padding-left: 5px;
}

.catagory-list-menu ul>li>a>img {
    width: 20px;
    position: relative;
    top: -2px;
    margin-right: 5px;
}

.catagory-list-menu ul li:hover a {
    background-color: #fff;
    color: #e6244e;
    font-weight: bold;
    font-size: 15px;
}

.catagory-list-menu ul li.arrow::after {
    color: #aaa;
    content: "\f105";
    font-family: fontawesome;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 0;
    width: 20px;
    z-index: 1;
}

.catagory-list-menu ul li a i {
    display: block;
    float: left;
    height: 25px;
    line-height: 50px;
    margin-left: -2px;
    margin-right: 7px;
    text-align: center;
    width: 25px;
}

.catagory-list-menu ul li ul.c-sub-menu {
    background-color: #ffffff;
    left: 100%;
    padding: 30px;
    position: absolute;
    top: 0;
    transform: scaleX(0);
    transform-origin: 0 0 0;
    transition: all 0.5s ease 0s;
    width: 240px;
    z-index: 0;
    opacity: 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.catagory-list-menu ul li:hover ul.c-sub-menu {
    z-index: 5;
    transform: scaleX(1);
    opacity: 1;
}

.catagory-list-menu ul li ul.c-sub-menu li {
    line-height: 35px
}

.catagory-list-menu ul li ul.c-sub-menu li a {
    border-bottom: 0px solid #2b2aba;
    padding: 0;
    background-color: #fff;
    color: #232323;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.c-mega-menu {
    background-color: #ffffff;
    left: 100%;
    opacity: 0;
    padding: 30px;
    position: absolute;
    top: 0;
    transform: scaleX(0);
    transform-origin: 0 0 0;
    transition: all 0.5s ease 0s;
    visibility: hidden;
    width: 780px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.c-mega-menu.item-3 {
    width: 600px;
}

.c-mega-menu.item-3 span {
    width: 33.33%;
}

.catagory-list-menu li:hover .c-mega-menu {
    opacity: 1;
    transform: scaleX(1);
    visibility: visible;
}

.block {
    overflow: hidden;
}

.catagory-list-menu ul li .banner a {
    border: 0px;
    padding-left: 0px;
}

.banner-hover img {
    width: 100%;
}

.catagory-list-menu ul li .banner {
    margin-top: 20px;
}

.c-mega-menu span {
    float: left;
    width: 25%;
}

.catagory-list-menu li .c-mega-menu a,
.catagory-list-menu li:hover .c-mega-menu a {
    background-color: #FFF;
}

.catagory-list-menu .c-mega-menu span a {
    border-bottom: 0 none;
    line-height: 35px;
    padding: 0;
    color: #e6244e;
}

.catagory-list-menu ul>li:hover>a,
.catagory-list-menu ul>li.arrow:hover:after,
.catagory-list-menu .c-mega-menu span a:first-child:hover,
.catagory-list-menu ul li ul.c-sub-menu li a:hover,
.catagory-list-menu .c-mega-menu span a:hover {
    color: #e6244e;
    transition: .2s;
}
#chi_tiet h4{
    color: black;
}
#thong_so h4{
    color: black;
}
#video_huong_dan h4{
    color: black;
}

.catagory-list-menu .c-mega-menu span a:first-child {
    font-family: Poppins;
    color: #232323;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.catagory-list-menu {
    display: block;
    position: absolute;
    width: 100%;
    z-index: 999;
    border-left: 1px solid #ccc;
}

.catagory-list-menu.hidden-menu {
    display: none;
}

.catagory-menu {
    position: relative;
}


/*====================
11.  Mobile menu
=====================*/

#mobileMenu li a i {
    display: none;
}

.slicknav_menu {
    background-color: #000;
}

.slicknav_menu .slicknav_menutxt {
    font-size: 0px;
}

.slicknav_menu .slicknav_icon {
    margin: 5px 3px 2px 3px;
}

.slicknav_nav .slicknav_row,
.slicknav_nav a {
    border-radius: 0px !important;
    text-transform: capitalize;
    font-weight: 600;
}

.slicknav_nav .slicknav_row:hover,
.slicknav_nav a:hover {
    background-color: #F36523;
    color: #000;
}

.slicknav_nav .slicknav_row:hover a {
    color: #000;
}

.slicknav_nav .slicknav_row a:hover {
    background-color: transparent;
}


/*====================
12.  sldier area
=====================*/

.slide-show {
    background-color: #f8f8f8;
}

/*====================
13.  Slider content
=====================*/

.slider-area {
    position: relative;
}

.slide-banner .slider-area {
    width: 100%;
    float: left;
}

/*.slide-banner .slide-banners {*/
/*    width: 22%;*/
/*    float: right;*/
/*}*/

.slider-caption {
    padding-top: 70px;
}

.layer-1-1 h2.title-1,
.layer-1-2 h2.title-2,
.layer-2-1 h2.title-1,
.layer-2-2 h2.title-2 {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    animation: 0.6s ease-in-out 0.6s normal backwards 1 running fadeInDown;
}

.layer-1-1 h2.title-1 {
    margin-bottom: 0px;
}

.layer-1-2 h2.title-2,
.layer-2-2 h2.title-2 {
    font-size: 50px;
    color: #e2f2f5;
    animation: 0.6s ease-in-out 1s normal backwards 1 running zoomIn;
}

.layer-2-2 h2.title-2 {
    color: #fff;
}

.layer-2-2 h2.title-2 span {
    color: #F36523;
    display: block;
}

.layer-1-3 p.title-3,
.layer-2-3 p.title-3 {
    font-size: 24px;
    color: #ffbc00;
    font-weight: 700;
    padding-left: 0;
    margin-bottom: 40px;
    animation: 0.6s ease-in-out 1.6s normal backwards 1 running fadeInLeft;
}

.layer-2-3 p.title-3 {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

.layer-1-4 a.title-4,
.layer-2-4 a.title-4 {
    color: #fff;
    padding: 0px 25px;
    line-height: 40px;
    background-color: #F36523;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    animation: 0.6s ease-in-out 2s normal backwards 1 running rollIn;
}

.layer-1-4 a.title-4:hover,
.layer-2-4 a.title-4:hover {
    background-color: #dca340;
}

.slider-caption.style-2 .layer-1-1 .title-1 {
    color: #ee4e67;
    font-weight: 400;
}

.slider-caption.style-2 .layer-1-1 .title-1,
.slider-caption.style-2 .layer-2-1 .title-1 {
    font-size: 14px;
    font-weight: 500;
}

.slider-caption.style-2 .layer-1-3 .title-3,
.slider-caption.style-2 .layer-1-2 .title-2 {
    color: #282828;
}

.slider-caption.style-2 .layer-1-3 .title-3 {
    font-size: 18px;
}

.slider-caption.style-2 .layer-2-1 .title-1,
.slider-caption.style-2 .layer-2-2 .title-2 span {
    color: #ff8625;
}


/*====================
14.  Info area
=====================*/

.single-info {
    background-color: #fff;
    border: 1px solid #eeeeee;
    padding: 20px;
    overflow: hidden;
    position: relative;
    margin-top: 30px;
    z-index: 1;
}

.img {
    float: left;
    width: 66px;
    height: 66px;
    position: relative;
}

.img img {
    transition: 0.3s;
}

.img img:last-child {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
}

.single-info:hover .img img:last-child {
    z-index: 9;
    opacity: 1;
}

.info-content {
    padding-left: 76px;
    line-height: 25px;
    color: #bdbdbd;
    padding-top: 15px;
    transition: 0.3s;
}

.info-content h3 {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #282828;
    line-height: 18px;
    transition: 0.3s;
}

.single-info:after {
    content: "";
    border: 0px solid transparent;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    position: absolute;
    transition: 0.3s;
    z-index: -1;
}

.single-info:hover:after {
    border: 2px solid #F36523;
}

.single-info:hover h3,
.single-info:hover .info-content {
    color: #F36523
}



/*====================
15.  Product style
=====================*/

.section-heading {
    border-bottom: 2px solid #e6244e;
    height: 40px;
    position: relative;
}

.section-heading h2 {
    text-transform: uppercase;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #F36523;
    line-height: 40px;
    position: relative;
    z-index: 1;
    padding-left: 75px;
}

.section-heading h2.blue,
.section-heading h2.brown,
.section-heading h2.green,
.section-heading h2.sweet {
    background-color: #fff;
    color: #fff;
}

.section-heading h2.small-icon-size {
    padding-left: 0;
    border-bottom: 2px solid #e6244e;
    line-height: 38px;
    float: left;
}
/*
.section-heading h2:before {
    content: "";
    background-image: url(img/icon/bg_title.png);
    width: 66px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
}
*/
.section-heading h2.blue:before {
    background-position: center;
}

.section-heading h2.sweet:before {
    background-image: url(img/icon/bg_title_sweet.png);
    background-position: center;
}

.section-heading h2.brown:before {
    background-image: url(img/icon/bg_title_brown.png);
    background-position: center;
}

.section-heading h2.green:before {
    background-image: url(img/icon/bg_title_green.png);
    background-position: center;
}

.section-heading:after {
    border: 1px solid #ebebeb;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
}

.color-bordered {
    border: 2px solid #F36523;
}

.grey-bordered {
    border: 1px solid #ebebeb;
}

.single-product-item.floating {
    overflow: hidden;
}

.floating .item-img {
    width: 40%;
    float: left;
    position: relative;
}

.list-items .floating .item-img {
    width: 35%;
    margin-right: 4%;
}

.floating .item-info {
    width: 60%;
    float: left;
    padding: 30px;
}

.floating .item-img img {
    width: 100%;
    position: absolute;
    min-height: 100%;
}

.sale:after,
.new:after {
    content: "sale!";
    right: 10px;
    top: 15px;
    position: absolute;
    background-color: #db4d4d;
    color: #fff;
    width: 42px;
    height: 42px;
    font-size: 13px;
    border-radius: 50%;
    line-height: 42px;
    text-align: center;
    text-transform: capitalize;
}

.new:after {
    content: "new";
    background-color: #3c74b9;
}

.item-info h2 {
    margin: 0px;
}

.item-title {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 18px;
    color: #000;
    margin-bottom: 10px;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
}

.item-title.large {
    font-size: 16px;
    font-weight: 700;
}

.ratings {
    margin: -5px 0px 10px;
}

.ratings i {
    color: #ffbf44;
    font-size: 12px;
}

.item-price {
    margin: 0;
    color: #434343;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.item-price .old-price {
    text-decoration: line-through;
    margin: 0px 5px;
    color: #acacac;
}

.product-descriptions {
    margin: 0;
    padding: 10px 0;
    letter-spacing: 0.025em;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 23px;
    color: #000;
    padding-bottom: 20px;
}

.DateCountdown {
    width: 75%;
    margin-left: -10px;
    margin-bottom: 10px;
}

.single-action {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e6244e;
    color: #fff;
    display: inline-block;
    text-transform: capitalize;
    font-size: 13px;
    text-align: center;
    padding: 2px 12px;
    line-height: 33px;
    font-weight: 700;
    margin-right: 4px;
    border-radius: 3px;
}

.single-action i {
    font-size: 18px;
    position: relative;
    top: 4px;
}

.single-action:hover {
    background-color: #F36523;
    color: #fff;
}


/*====================
16.  Owl nav style
=====================*/

.owl-carousel .owl-controls .owl-nav div {
    position: absolute;
    right: 50px;
    top: -83px;
    font-size: 16px;
    color: #000;
    height: 50px;
    width: 30px;
    text-align: center;
    line-height: 50px;
    transition: 0.3s;
}

.owl-carousel .owl-controls .owl-nav div:hover {
    color: #F36523;
}

.owl-carousel .owl-controls .owl-nav div.owl-next {
    right: 5px;
}

.owl-carousel .owl-controls .owl-nav div.owl-next:before {}

.owl-carousel .owl-controls .owl-nav div.owl-next i:after {
    content: "";
    background-color: #e1e1e1;
    height: 20px;
    width: 1px;
    position: absolute;
    left: -8px;
    top: 15px;
}


/*====================
17.  multiple items
=====================*/

.multiple-items .single-product-item {
    position: relative;
    z-index: 1;
    padding: 20px;
}

.multiple-items.owl-carousel .owl-stage-outer {
    border-left: 1px solid #ebebeb;
    margin-left: -2px;
}

.multiple-items .single-product-item:after,
.banner-type-item .single-product-item:after {
    content: "";
    border: 1px solid #ebebeb;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
    transition: 0.3s;
    border-left: 1px solid transparent;
}

.multiple-items .single-product-item .item-info {
    padding-top: 20px;
}

.hover-content {
    position: absolute;
    top: 50%;
    margin-top: -18px;
    width: 100%;
    left: 0;
    transition: 0.3s;
    transform: scale(0);
    opacity: 0;
}

.single-product-item:hover .hover-content {
    transform: scale(1);
    opacity: 1;
}

.multiple-items .single-product-item:hover:after,
.banner-type-item .single-product-item:hover:after {
    border: 2px solid #F36523;
}

.multiple-items .single-product-item .actions {
    padding-top: 17px;
}

.list-items .floating .item-info {
    padding: 0;
}

.list-items .single-product-item {
    border-bottom: 1px solid #ebebeb;
    padding: 14.5px 0px;
    margin: 0px 10px;
}

.list-items .single-product-item:last-child {
    border: 0px;
}
.product-tab li a {
    color: #555;
    text-transform: unset;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    display: block;
    padding: 0 5px 0 5px;
    position: relative;
    line-height: 26px;
}
.product-tab li {
    display: inline-block;
    border-right: 1px solid #aaa;
    margin-top: 8px;
}
.product-tab li.active a,
.product-tab li:hover a {
    color: #F36523;
}
.product-tab li:first-child a {
    padding-left: 20px;
}
.product-tab li:last-child a::after {
    width: 0;
}

.product-tab li:last-child {
    border-right: none;
}

.tab-content>.tab-pane {
    display: block;
    height: 0px;
}

.tab-content>.tab-pane.active {
    height: auto;
    display: block;
}

.tab-content>.tab-pane.active .owl-carousel.owl-loaded,
.tab-content>.tab-pane.active .banner-type-item,
.tab-content>.tab-pane.active .gird-items,
.tab-content>.tab-pane.active .list-category-items {
    display: block;
}

.tab-content>.tab-pane .owl-carousel.owl-loaded,
.tab-content>.tab-pane .banner-type-item,
.tab-content>.tab-pane .gird-items,
.tab-content>.tab-pane .list-category-items {
    display: none;
}

.tab-content.style-2 {
    margin-left: -60px;
    padding-left: 30px;
}


/*====================
17.2  Category item menu
=====================*/

.category-item-menu {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    z-index: 1;
}

.category-item-menu ul {
    position: absolute;
    right: 85px;
    top: -38px;
}

.category-item-menu ul li a {
    color: #909090;
    text-transform: capitalize;
    font-size: 12px;
    padding: 15px 10px;
    position: relative;
    z-index: 1;
}

.category-item-menu ul li a:after {
    width: 6px;
    height: 6px;
    background-color: #f9b848;
    content: "";
    position: absolute;
    border-radius: 50%;
    left: -3px;
    top: 20px;
    transition: 0.3s;
    opacity: 0;
}

.category-item-menu ul li a:hover:after {
    opacity: 1;
    left: 0;
    top: 18px;
}

.category-item-menu ul li a:hover {
    color: #f9b848;
}


/*====================
18.  Box content
=====================*/

.box-items .owl-stage-outer {
    border-left: 1px solid #ebebeb;
    margin-left: -1px;
}

.single-box-item {
    border: 1px solid #eee;
    overflow: hidden;
    padding: 5px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-box-item:last-child {
    border-top: 0px;
}

.single-box-item .box-item-img {
    width: 40%;
    float: left;
    margin-right: 5%;
    overflow: hidden;
    height:100%;
}

.single-box-item .box-item-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-content {
    width: 55%;
    float: left;
}

.box-content>a {
    text-transform: uppercase;
    font-weight: 600;
    color: #3c74b9;
    font-family: 'Poppins', sans-serif;
    display: block;
    line-height: 1;
    margin-bottom: 15px;
    font-size: 14px;
}

.box-content ul li a {
    color: #6f6f6f;
    font-size: 12px;
    line-height: 25px;
    text-transform: capitalize;
    display: block;
}

.box-content ul li a:hover {
    padding-left: 5px;
}

.box-content a:hover,
.item-title:hover,
.blog-info>a:hover {
    color: #e6244e;
}

.single-box-item.style-2:hover .box-item-img a img {
    transform: scale(1);
}

.single-box-item.style-2 {
    padding: 15px;
    position: relative;
}

.single-box-item.style-2 .actions {
    margin-top: 15px;
}

.single-box-item.style-2 .hover-content {
    left: 73%;
    margin-top: 32px;
}

.single-box-item.style-2:hover .hover-content {
    opacity: 1;
    transform: scale(1);
}

.single-box-item.style-2:after {
    content: "";
    border: 2px solid transparent;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: 0.3s;
    z-index: -1;
}

.single-box-item.style-2:hover:after {
    border-color: #F36523;
}


/*====================
19.  Blog post
=====================*/

.single-blog {
    border: 1px solid #ebebeb;
}

.single-blog:hover .blog-img img {
    opacity: 0.85;
}

.single-blog .blog-img img {
    transition: 0.3s;
    width: 100%;
}

.blog-content {
    padding: 30px;
}

.blog-content .blog-info .date {
    background-color: #373737;
    color: #fff;
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    line-height: 18px;
    float: left;
    margin-right: 20px;
}

.blog-content .blog-info {
    overflow: hidden;
}

.blog-content .blog-info .date span {
    font-weight: 400;
    display: block;
    font-size: 13px;
}

.blog-info>a {
    display: block;
    color: #434343;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 18px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.blog-content .view-count {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}

.blog-content .view-count i {
    margin-right: 7px;
}

.blog-description {
    color: #434343;
    margin-bottom: 0px;
    margin-top: 22px;
    line-height: 25px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}


/*====================
20.  Client logos
=====================*/

.clients-logo .logos a {
    display: block;
}

.clients-logo .logos a:nth-child(3) {
    margin-top: -1px;
}

.clients-logo .logos a img {
    transition: 0.5s;
    border-bottom: 1px solid #282828;
    border-right: 1px solid #282828;
}

.clients-logo .logos a img:hover {
    opacity: 0.85;
}


/*====================
21.  Footer area
=====================*/

.footer-area {
    background-color: #fff;
}

.footer-area,
.footer-area a {
    color: #000;
}

.newsletter-area {
    padding: 40px 0;
    border-bottom: ;
    border-top: 1px solid #F6F6F6;
    border-bottom: 1px solid #F6F6F6;
    background-color: #F6F6F6;
}

.newsletter-title h2 {
    color: #e6244e;
    text-transform: uppercase;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.newsletter-title {
    color: #000;
    font-size: 14px;
}

.newsletter-form input {
    width: 100%;
    background-color: #fff;
    border: 0px;
    padding: 10px 15px;
    text-transform: capitalize;
    color: #454545;
}

.newsletter-form {
    position: relative;
    z-index: 1;
    border: 2px solid #e6244e;
}

.newsletter-form button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border: 0px;
    background-color: #e6244e;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0px 15px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    background-color: #373737;
    display: inline-block;
    border-radius: 5px;
    color: #fff;
    margin-left: 3px;
}

.social-icons a:hover {
    background-color: #F36523;
}

.footer-widget-area {
    padding: 35px 0px;
    background: #3a1901;
}

.widget-title h3 {
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 0;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

.widget-address span {
    color: #fff;
    text-transform: capitalize;
}

.widget-address p {
    line-height: 25px;
    line-height: ;
}

.widget-address p a:hover {
    color: #F36523;
}

.widget-menu a {
    display: block;
    padding: 7px 20px;
    text-transform: capitalize;
    position: relative;
    font-size: 14px;
}

.widget-menu a:after {
    width: 6px;
    height: 6px;
    background-color: #F36523;
    content: "";
    position: absolute;
    left: 0;
    top: 14px;
    border-radius: 50%;
}

.widget-menu a:hover {
    padding-left: 23px;
    color: #F36523;
}

.footer-bottom-area {
    padding: 20px 0px;
    border-top: 1px solid #383838;
}

.footer-copyright {
    font-size: 12px;
    padding-top: 7px;
}

.footer-copyright a {
    color: #F36523;
    text-transform: capitalize;
}


/*====================
22.  Product modal
=====================*/

#item-modal .modal-dialog {
    width: 1100px;
    margin-top: 70px;
}

#item-modal .modal-body {
    padding: 20px;
}

.close-button {
    position: absolute;
    right: -22px;
    width: 28px;
    height: 28px;
    background-color: #fff;
    color: #333;
    line-height: 28px;
    text-align: center;
    font-size: 28px;
    border-radius: 50%;
    top: -22px;
    cursor: pointer;
}

.cart-plus-minus-box {
    width: 50px;
    border-radius: 0px;
    border: 1px solid #ccc;
    padding: 5px 0px;
    text-align: center;
    margin-left: 8px;
}

.qtybutton {
    display: inline-block;
    width: 40px;
    border: 1px solid #888;
    text-align: center;
    margin-left: 10px;
    font-size: 18px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    font-weight: 700;
}

.cart-plus-minus {
    margin: 30px 0px;
}

.product-modal .item-img {
    border: 1px solid #888;
}

.product-modal .item-info {
    padding-top: 0px;
    line-height: 20px;
    color: black;
}

.product-modal .item-title.large {
    font-size: 18px;
    font-weight: 400;
}

.product-modal .info {
    font-size: 12px;
    color: #adadad;
    line-height: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.product-modal .info span {
    color: #F36523;
}

.product-modal .product-descriptions {
    font-size: 14px;
}

.product-modal .item-price {
    font-size: 18px;
}

.product-modal .item-info .actions {
    margin-bottom: 30px;
}

.size,
.color {
    color: #333;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.size select {
    width: 220px;
    text-transform: uppercase;
    border: 1px solid #ddd;
    padding: 0px 10px;
    margin-top: 5px;
}

.single-color {
    display: inline-block;
    position: relative;
}

.color span {
    position: relative;
    width: 35px;
    height: 35px;
    z-index: 1;
    display: block;
    cursor: pointer;
}

.color span:after {
    position: absolute;
    content: "";
    background-color: #434a54;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    display: block;
}

form .single-color:nth-child(2) span:after {
    background-color: #f39c11;
}

form .single-color:nth-child(3) span:after {
    background-color: #5d9cec;
}

form .single-color:nth-child(4) span:after {
    background-color: #f1c40f;
}

.single-color input {
    position: absolute;
    top: 0;
}

.stock {
    font-weight: 600;
    font-style: italic;
    margin-bottom: 30px;
}

.stock span {
    font-style: normal;
    background-color: #333;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
}

.product-modal .social-share a {
    border: 1px solid #ddd;
    display: inline-block;
    padding: 3px 15px;
    color: #333;
    text-transform: capitalize;
}

.product-modal .social-share a:nth-child(1) {
    color: #fff;
    background-color: #00aaf0;
}

.product-modal .social-share a:nth-child(2) {
    color: #fff;
    background-color: #435f9f;
}

.product-modal .social-share a:nth-child(3) {
    color: #fff;
    background-color: #dd5044;
}

.product-modal .social-share a:nth-child(4) {
    color: #fff;
    background-color: #cc2129;
}

.product-modal .social-share a:hover:nth-child(1) {
    background-color: #00aaf0;
    border-color: #00aaf0;
}

.product-modal .social-share a:hover:nth-child(2) {
    background-color: #435f9f;
    border-color: #435f9f;
}

.product-modal .social-share a:hover:nth-child(3) {
    background-color: #dd5044;
    border-color: #dd5044;
}

.product-modal .social-share a:hover:nth-child(4) {
    background-color: #cc2129;
    border-color: #cc2129;
}


/*====================
23.  Scroll Item
=====================*/

.scroll-item ul {
    transition: 0.3s;
}

.scroll-item .scroll-visible {
    margin-top: -80px;
}

.scroll-item {
    position: fixed;
    top: 50%;
    margin-top: -120px;
    left: 0px;
    z-index: 999;
}

.scroll-item li a {
    display: block;
    height: 60px;
    width: 60px;
    background-color: #333;
    text-align: center;
    border-bottom: 1px solid #454545;
    line-height: 60px;
}

.scroll-item li a:hover {
    background-color: #F36523;
    border-color: #F36523;
}

.scroll-item li:last-child a {
    border-bottom: 0px;
}

#scrollUp {
    display: none;
}

#scrollUp a {
    width: 60px;
    top: 50%;
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    left: 20px;
    height: 160px;
}

#scrollUp span {
    transform: rotate(-90deg);
    display: block;
    width: 100px;
    position: relative;
    left: -19px;
    font-size: 12px;
}


/*====================
24.  Other Style
=====================*/

.single-product-item {
    overflow: hidden;
    position: relative;
    padding: 15px;
}

.deals-day-items .single-product-item {
    padding: 0px;
}

.hot-deals-item {
    border: 2px solid #F36523;
}

.hot-deals-item .actions {
    margin: 20px 0 15px;
}

.hot-deals-item .DateCountdown {
    width: 100%;
    margin-left: 0;
    margin-bottom: -3px;
}

.hot-deals-item .time_circles>div>h4 {
    font-size: 9px !important;
    line-height: 9px !important;
}

.hot-deals-item .item-info {
    padding-top: 20px;
}

.hot-deals-item .single-product-item:hover .hover-content {
    top: 38%;
}

.different-items .single-box-item {
    padding: 5px 0px;
}

.different-items .single-box-item .hover-content {
    margin-top: -40px;
}

.different-items .single-box-item .actions {
    margin-top: 25px;
}

.different-items .single-box-item .item-info {
    margin-top: 11.5px;
}

.new-arrival-items.style-2 .list-items .single-product-item {
    padding: 20px 0px;
}

.header-section-bg .product-tab li a {
    color: #fff;
}

.header-section-bg .product-tab li.active a,
.header-section-bg .product-tab li:hover a {
    color: #F36523;
}

.style-2 .owl-carousel .owl-controls .owl-nav div {
    top: -53px;
    color: #999;
}

.style-2 .owl-carousel .owl-controls .owl-nav div.owl-next i::after {
    background-color: #888;
}

.banner-type-item {
    width: 31%;
    float: left;
    border: 1px solid #eee;
}

.banner-type-item .single-product-item {
    padding: 18px 15px;
}

.banner-type-item .single-product-item:after {
    border-color: transparent;
}

.banner-type-item .single-product-item .actions {
    margin-top: 21px;
}


/*====================
25.  Gird List Items
=====================*/

.gird-items .single-product-item {
    /*    width: 33.33%;
        float: left;*/
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    text-align: center;
}
.gird-items .single-product-item a.item-img {
    height: 175px;
    background: #fff;
    overflow: hidden;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gird-items .single-product-item img {
    max-height: 172px;
}

.gird-items .single-product-item .actions {
    margin-top: 20px;
}

.gird-items {
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    overflow: hidden;
}

.gird-items .single-product-item:after,
.list-category-items .single-product-item:after {
    border: 2px solid transparent;
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    transition: 0.3s;
    z-index: -1;
}

.gird-items .single-product-item:hover:after,
.list-category-items .single-product-item:hover:after {
    border: 2px solid #e6244e;
    transition: .8s;
}

.list-category-items .single-product-item {
    border: 1px solid #eee;
    border-bottom: 0px;
}

.list-category-items .single-product-item:last-child {
    border-bottom: 1px solid #eee;
}

.list-category-items .floating .item-info {
    padding: 10px 0px 0px 30px;
}


/*====================
26.  Shop sidebar
=====================*/

.sidebar {
    background-color: #f4f4f5;
    padding: 0px 15px 30px;
}

.sidebar-title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding: 30px 0 20px;
    color: #000;
    display: block;
    margin: 0;
}

.input-box label {
    position: relative;
    top: -3px;
    color: #898989;
    text-transform: capitalize;
    font-weight: 500;
    margin-left: 2px;
    cursor: pointer;
    margin-bottom: 10px;
}

.price-slider-amount #amount {
    border: 0px;
    background-color: transparent;
}

.price-slider-amount {
    font-size: 13px;
    color: #444;
    margin-bottom: 20px;
}

#slider-range.ui-slider .ui-slider-handle {
    background-color: #fff;
    border-radius: 50%;
    border: 4px solid #F36523;
    height: 17px;
    width: 17px;
    cursor: pointer;
}

#slider-range .ui-slider-range.ui-widget-header {
    background-color: #F36523;
    border: 0px solid transparent;
    height: 6px;
    top: 1px;
}

#slider-range.ui-widget-content {
    background-color: transparent;
    border: 0px;
    width: 90%;
    margin: auto;
}


/*====================
27.  Gird List Tab
=====================*/

.list-gird-tab-menu li {
    display: inline-block;
}

.list-gird-tab-menu li a {
    display: block;
    color: #898989;
    border: 1px solid #ddd;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.list-gird-tab-menu li.active a,
.list-gird-tab-menu li a:hover {
    background-color: #F36523;
    color: #fff;
    border-color: #F36523;
}

.list-gird-tab-menu {
    display: inline-block;
}

.category-options .size {
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 0;
}

.category-bar p {
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 10px;
}

.compare-btn {
    color: #fff;
    background-color: #333;
    text-transform: uppercase;
    font-weight: 500;
    padding: 6px 10px;
    display: inline-block;
    float: right;
}

.compare-btn:hover {
    color: #fff;
}

.category-options .category-title h2 {
    text-transform: uppercase;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-bottom: 5px;
}

.category-options .category-title h2 span {
    float: right;
    text-transform: capitalize;
    font-size: 13px;
}

.category-options .category-bar {
    border-top: 2px solid #ebebeb;
    border-bottom: 2px solid #ebebeb;
    padding: 20px 0px;
}


/*====================
28.  Breadcrumb area
=====================*/

.breadcrumb-area {
    background-color: #EAECEF;
    padding: 0px;
    line-height: 45px;
}

.breadcrumb {
    margin: 0;
    background-color: transparent;
    padding: 0;
}

.breadcrumb li a {
    color: #7b7b7b;
}

.breadcrumb li.active {
    color: #e6244e;
    text-transform: capitalize;
}


/*====================
29.  Cart & Wishlist
=====================*/

.table-responsive .table th {
    text-transform: capitalize;
    font-size: 13px;
    color: #333;
    font-style: normal;
}

.table-responsive .table .item-img {
    width: 110px;
}

.table-responsive .table .item-img img {
    border: 1px solid #ddd;
}

.table-responsive .table .cart-product-name a {
    color: #3a3939;
    display: block;
    font-size: 17px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 5px;
    margin-top: 5px;
}

.table-responsive .table .cart-product-name a:hover {
    color: #F36523;
}

.table-responsive .table .cart-product-name p {
    margin-bottom: 3px;
    font-size: 12px;
}

.table-responsive .table .unit-price span {
    display: block;
    font-weight: 400;
    line-height: 95px;
}

.table-responsive .table .stock span {
    font-weight: 600;
    line-height: 95px;
    text-transform: capitalize;
    font-size: 12px;
    border-radius: 0;
}

.table-responsive .table .add-to-cart .cart-btn,
.shopping-button button,
.shopping-button a {
    background-color: #fff;
    border: 1px solid #F36523;
    border-radius: 5px;
    color: #F36523;
    font-weight: 600;
    margin: 29px 0;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
}

.table-responsive .table .add-to-cart .cart-btn:hover,
.shopping-button button:hover,
.shopping-button a:hover {
    background-color: #F36523;
    color: #fff;
}

.table-responsive .table .quantity input {
    height: 35px;
    margin: 30px 0;
    text-align: center;
    width: 35px;
    border: 1px solid #ddd;
}

.table-responsive .table .remove-icon button {
    background-color: transparent;
    border: 0 none;
    font-size: 24px;
    margin: 30px 0px;
}

.table-responsive .table .remove-icon button:hover {
    color: #ee2050;
}

.cart-addition-area {
    overflow: hidden;
    padding-top: 30px;
}

.section-small-title h3 {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 0;
    text-transform: uppercase;
    color: #333;
}

.single-shipping-location,
.payment-method-box {
    border: 1px solid #eee;
    height: 40px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    width: 45%;
}

.single-shipping-location::after,
.payment-method-box:after {
    color: #777777;
    content: "\f107";
    font-family: "fontawesome";
    position: absolute;
    right: 5px;
    top: 7px;
    pointer-events: none;
}

.single-shipping-location select,
.payment-method-box select {
    background-color: transparent;
    border: medium none;
    color: #606060;
    font-weight: 400;
    height: 40px;
    padding-left: 5px;
    text-transform: capitalize;
    width: 115%;
}

.discount-coupon p {
    margin-top: -4px;
}

.discount-coupon .input-box input {
    border: 1px solid #eee;
    padding: 5px 10px;
    width: 100%;
}

.cart-total p {
    border-bottom: 1px solid #e7e7e7;
    color: #69686c;
    font-weight: 400;
    margin-bottom: 12px;
    margin-top: -4px;
    padding-bottom: 10px;
    text-transform: capitalize;
}

.cart-total p.no-border {
    border-bottom: 0px;
    margin-bottom: 0px;
}

.cart-total p.total-price {
    border-top: 1px solid #24273e;
    color: #24273e;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0px;
    padding-top: 15px;
    border-bottom: 0px;
}

.shopping-button button,
.shopping-button a {
    line-height: 15px;
    margin-bottom: 0;
}

.shipping-location .shopping-button button {
    margin-top: 19px;
}

.shopping-button a {
    display: inline-block;
}

.empty-cart h3,
.empty-wishlist h3 {
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 30px;
    margin-top: 0;
}

.buttons a {
    display: inline-block;
    margin: 0;
}

.buttons a.stock span {
    border-radius: 0;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: 0.3s;
}

.buttons a.stock:last-child {
    float: right;
}

.buttons a.stock span:hover {
    background-color: #F36523;
}

.content {
    padding: 100px 0px;
}

.content h2 {
    text-transform: uppercase;
    font-size: 24px;
    color: #333;
    letter-spacing: 1px;
}

.my-account-accordion button,
.authentication button,
.content a {
    background-color: #333;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    transition: 0.3s;
}

.my-account-accordion button:hover,
.authentication button:hover,
.content a:hover {
    background-color: #F36523;
}


/*====================
30.  Checkout
=====================*/

.client-address-form input,
.client-address-form textarea,
.blog-comment-form input,
.blog-comment-form textarea {
    border: 1px solid #eee;
    margin-bottom: 22px;
    padding: 6px 10px;
    text-transform: capitalize;
    width: 100%;
}

.payment-methods {
    overflow: hidden;
}

.payment-method .section-small-title h3 {
    margin-top: 25px;
}

.terms-text .checkbox {
    padding-left: 20px;
    text-transform: capitalize;
}

.terms-text .checkbox a {
    color: #F36523;
}

.terms-text .checkbox a:hover {
    text-decoration: underline;
}

.checkout-area .shopping-button a,
.blog-comment-form .shopping-button button {
    margin-top: 15px;
}


/*====================
31.  My account
=====================*/

.my-account-accordion .panel-group {
    margin-bottom: 0;
}

.my-account-accordion .panel-title i {
    color: #F36523;
    margin-right: 5px;
    padding-right: 5px;
    position: relative;
}

.my-account-accordion .panel-title i:after {
    background-color: #ddd;
    content: "";
    height: 36px;
    position: absolute;
    right: -3px;
    top: -12px;
    width: 1px;
}

.account-title h4 {
    font-size: 14px;
    text-transform: capitalize;
}

.order-history p,
.credit-slids p {
    background-color: #F36523;
    color: #fff;
    margin-top: 20px;
    padding: 15px 20px;
    font-size: 13px;
}

.my-address p {
    font-size: 13px;
}

.account-address {
    border: 1px solid #ddd;
    padding: 15px;
}

.account-address ul li.address-menu-title {
    border-bottom: 1px solid #ddd;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.account-address li {
    font-size: 13px;
    line-height: 24px;
    text-transform: capitalize;
}

.account-address ul li button,
.add-address button,
.save-button,
.wishlist-container button {
    margin-top: 20px;
}

.add-address,
.save-button,
.wishlist-container .save-button {
    text-align: right;
    margin-right: 5px;
}

.wishlist-container h3 {
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
}

.wishlist-container label {
    display: block;
    font-weight: 600;
}

.wishlist-container input {
    border: 1px solid #ddd;
    min-height: 40px;
    width: 100%;
    padding: 0px 20px;
}

.delivery-details input,
.delivery-details select {
    width: 100%;
    border: 1px solid #eee;
    background-color: transparent;
    padding: 10px;
    margin-bottom: 20px;
}

.my-account-accordion button,
.authentication button {
    border: 1px solid #333;
}

.my-account-accordion button:hover,
.authentication button:hover {
    border-color: #F36523;
}


/*====================
32.  Authentication
=====================*/

.authentication {
    padding: 20px;
    background-color: #fbfbfb;
    border: 1px solid #eee;
}

.border-title h3 {
    text-transform: uppercase;
    font-size: 18px;
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.authentication label,
.authentication input {
    width: 100%;
}

.authentication label {
    text-transform: uppercase;
    color: #333;
}

.authentication input {
    border: 1px solid #ddd;
    padding: 8px 10px;
    background-color: transparent;
    font-size: 12px;
    text-transform: capitalize;
    color: #333;
    margin-bottom: 10px;
}


/*====================
33.  Blog
=====================*/

.blog-category {
    display: block;
    text-transform: capitalize;
    color: #454545;
    border-bottom: 1px solid #e0e0e0;
    padding: 8px 0px;
    transition: 0.3s;
}

.blog-category:hover {
    color: #F36523;
}


/*====================
33.1.  Blog details
=====================*/

.blog-full-post .blog-img a img {
    width: 100%;
}

.blog-full-post .blog-info {
    margin-bottom: 10px;
    margin-top: 30px;
}

.blog-full-post .blog-title {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 30px;
}

.blog-full-post .post-text p {
    margin-bottom: 35px;
}

.blog-full-post .post-text blockquote {
    border-left: 4px solid #F36523;
    font-size: 14px;
    margin-left: 55px;
}

.blog-full-post .blog-info {
    margin-bottom: 10px;
    margin-top: 30px;
}

.blog-full-post .post-info {
    background-color: #f3f3f3;
    margin-bottom: 30px;
    padding: 10px 10px 7px 22px;
}

.blog-full-post .post-info span i {
    color: #F36523;
}

.comment-list ul li {
    background-color: #f3f3f3;
    margin-bottom: 30px;
    overflow: hidden;
    padding: 20px 25px;
}

.comment-list ul li.comment-reply {
    margin-left: 40px;
}

.comment-list .author-img {
    float: left;
    width: 10%;
}

.comment-list .author-comment {
    float: left;
    padding-left: 3%;
    width: 90%;
}

.author-comment h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin: 0;
}

.author-comment p {
    color: #666666;
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 0;
}

.author-comment a {
    color: #F36523;
    margin-right: 10px;
    text-transform: capitalize;
}

.author-comment a.reply {
    color: #777;
}

.author-comment a.reply:hover {
    color: #ee2050;
}

.product-block {
    padding-top: 0;
}

.sidebar-block-label {
    background: #F36523;
    width: 100%;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0;
}

.sidebar-hotline ul li label {
    color: #ff0000;
}
.posts-list-sidebar {
    border: 2px solid #F36523;
    border-top: none;
}
.posts-list-sidebar li {
    color: #333;
    padding: 10px;
    border-bottom: 1px dashed #ccc;
}
.posts-list-sidebar li:hover {
    background: #e8e8e8;
}
.posts-list-sidebar li:last-child {
    border-bottom: none;
}

.sidebar-hotline li {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #ccc;
    padding-left: 10px;
    padding-right: 10px;
}
.sidebar-hotline li:hover {
    border-left: 4px solid;
}

.menu-left {
    padding-left: 0;
    padding-right: 0;
    width: 21%;
}

.slide-right {
    padding-left: 0;
    padding-right: 0;
    width: 79%;
}

.hot-icon img {
    width: 35px;
    position: relative;
    z-index: 10;
}

.product-promotion {
    border: 1px solid #fe3232;
    padding: 30px 15px 15px 15px;
    position: relative;
    clear: left;
}

.product-promotion label {
    background: url('../images/ttkm.png');
    position: absolute;
    top: -18px;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0;
    left: -14px;
    color: #fff;
    padding: 5px 20px 5px 63px;
    height: 49px;
    width: 250px;
    background-repeat: no-repeat;
    line-height: 35px;
}

.product-promotion p {
    margin-bottom: 0;
}

.social-share {
    margin-top: 15px;
    margin-bottom: 15px;
}

.mobile-callback {
    width: 215px;
    border-radius: 0px;
    border: 1px solid #e6244e;
    padding: 7px;
    margin-left: 10px;
    border-radius: 4px;
}
::-webkit-input-placeholder { /* Edge */
    color: #e6244e;
}

.nav-child .catagory-list-menu {
    display: none;
}

.product-list-home {
    padding-right: 0;
    padding-left: 0;
}

.brand-logo li {
    list-style: none;
}

.brand-logo {
    padding-left: 0;
    padding-right: 0;
}

.brand-logo-item:hover {
    opacity: 0.5;
}

.about-info {
    padding-bottom: 15px;
    padding-left: 15px;
}
.logo-block,
.top-content .col-lg-6,
.search-block {
    padding-left: 0;
    padding-right: 0;
}
.sidebar-block {
    padding-right: 0;
}
.item-price span {
    font-weight: normal;
    font-size: 12px;
    color: #555;
}
.item-price {
    color: #ff0000;
    font-size: 13px;
    font-weight: 600;
}
.single-product-item .item-price {
    font-size: 22px;
    position: absolute;
    bottom: 20px;
    width: 100%;
}
.single-product-item .item-price span {
    color: #000;
    font-size: 15px;
    font-weight: normal;
}
.callback,
.quantum {
    color: #000;
    font-size: 15px;
    font-weight: normal;
}
.quantum {
    margin-bottom: 10px !important;
}
.product-details {
    color: #000;
}
.product-detail-title {
    margin-bottom: 0;
    border-bottom: 1px solid;
    color: #e6244e;
    font-size: 20px;
    padding-bottom: 5px;
}
.product-detail-title a {
    margin-bottom: 0;
    color: #F36523;
    font-size: 15px;
    padding-left: 15px;
}
.footer-widget-area .widget-title h3 {
    color: #000 !important;
}
img.hotline-icon {
    width: 25px;
}
.techs,
.sales {
    background: #f5f5f5;
    margin-bottom: 15px;
}
.techs li:last-child,
.sales li:last-child {
    border-bottom: none;
}
.block-title {
    background: #e6244e;
    display: inline-block;
    padding-right: 25px;
    padding-left: 30px;
}
.cat-icon img {
    width: 35px;
    position: relative;
    z-index: 10;
}
.post-content .content-post {
    padding-left: 0;
    padding-top: 15px;
}
.block-title a {
    color: #fff;
}
.block-product {
    padding-right: 0;
}

.title-partner {
    text-align:center;
    padding: 10px;
}
.slick-slide {
    margin: 0px 20px;
}
.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.product-code {
    color: #000;
    font-size: 15px;
    font-weight: normal;
}
.product-item {
    height: 80px;
    list-style: none;
}
.product-image-sb {
    width: 70px;
    float: left;
}
.product-image-sb img {
    height: 60px;
    width: 60px;
}
.ctsp {
    background: #F36523;
    color: #fff !important;
    padding: 6px 10px 6px 10px;
}
.product-sidebar {
    border: 1px solid #F36523;
}
.product-sidebar-item {
    padding: 10px 15px;
    border-bottom: 1px dashed #ccc;
}
.product-sidebar-image {
    text-align: center;
    height: 120px;
}
.product-sidebar-image img {
    height: 100%;
}
.product-price-sidebar {
    margin-bottom: 0;
    color: #F36523;
    font-size: 16px;
    text-align: center;
}
.auth {
    float: right;
    margin-right: 0;
    margin-left: 15px;
}
.fix-div {
    position: fixed;
    top: 43%;
    z-index: 999;
    max-width: 250px;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.ratingLst li {
    position: relative;
    margin: 5px 25px 15px 0;
    margin-left: 0px;
}
.ratingLst .reply {
    margin-left: 18px!important;
}
li.reply input {
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font-size: 14px;
    color: #999;
    padding: 8px;
    width: 385px;
    margin-right: 8px;
}
.rrSend {
    padding: 9px 10px;
    border: 1px solid #288ad6;
    background: #fff;
    font-size: 13px;
    color: #288ad6;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-sizing: border-box;
    height: 36px;
    display: inline-block;
}
@media(min-width: 768px) {
    .sd-nva-left { width:21% }
}
.box-hotline {
    margin-top: 25px;
    border: 1px solid #e6244e;
    max-height: 40px;
    overflow: hidden;
}
.inline-block {
    float:left;
}
.arr-right {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 6px solid #e6244e;
    border-bottom: 21px solid transparent;
}

.sub-menu1 {
    display: none;
    float: left;
    left: 100%;
    position: absolute;
    top: 0px;
    border: 1px solid #ccc;
    z-index: 9999;
}
.sub-menu1 a {
    color: #444;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
}

.level1:hover .sub-menu1 {
    display: block !important
}

.sub-menu-left {
    box-sizing: border-box;
    display: block;
    float: left;
    width: auto;;
    background-color: #fff !important;
}

ul.sub-menu2 {
    margin: 0;
    padding-top: 2%;
    width: 600px;
    min-height: 432px;
}

.text-mn-ads--01 {
    padding: 14px 18px;
    margin: 0;
    color: #e6244e;
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: 1px solid;
}
ul.sub-menu2 li {
    line-height: 40px;
}
ul.sub-menu2 li:hover {
    background: #e6244e;
}

ul.sub-menu2 a {
    border-bottom: 1px solid #e6244e!important;
    margin-left: 10px!important;
}
.box {
    margin-bottom: 10px;
    position: relative;
}
.box .top {
    /*height: 32px;*/
    background: #f3f3f3;
    background: #fff;
    /*border-bottom: 2px solid #fb7d04;*/
}
.box .top h4 {
    /*height: 31px;*/
    line-height: 38px;
    color: #fb7d04;
    text-align: left;
    padding: 0 15px 0 10px;
    font-size: 14px;
    font-family: Arial,Helvetica,Sans Serif;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #dfdfdf;
    border-bottom: none;
    margin: 0;
    background: #e6244e;
    color: #fff;
}
.box .middle {
    border: 1px solid #dfdfdf;
    border-top: none;
    background: #fff;
}
table.hotro {
    width: 100%;
    color: #333;
    margin: 0;
    font-size: 14px;
}
table.hotro td {
    line-height:30px;
}
table.hotro td span {
    font-weight:bold;
    color:#e6244e;
}
table.hotro td h5 {
    margin-bottom:0;
}
.sb_xemthem {
    position: absolute;
    top: 13px;
    right: 0;
    padding-right: 9px;
    font-size: 11px;
    color: #fff !important;
    font-weight: bold;
}
.sb_news li ul li {
    height: 80px;
}
.box.news li ul li {
    border-top: 1px solid #dfdfdf;
    overflow: hidden;
}
.box.news li ul li.sb_top {
    border: none;
    padding-left: 1px;
}
.box.news li ul li a {
    display: block;
    height: 80px;
    border: none;
}
.box.news li ul li a:hover {
    background: none;
}
.sb_news li ul li .sn_image {
    float: left;
    margin: 5px -7px;
    height: 68px;
    width: 103px;
}
.sb_news li ul li img {
    width: 100%;
}
.sb_news li ul li .sn_name {
    color: #000;
    padding-top: 7px;
    text-align: left;
    font-size: 13px;
    padding-right: 5px;
    overflow: hidden;
    line-height: 17px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    padding-left: 7px;
}
.box_ct_ft {
    padding: 40px 10px;
    overflow: hidden;
}
.float_left {
    float: left;
}
.box_ct_ft img {
    width: 60px;
    height: 40px;
}
.mg_l_10 {
    margin-left: 10px;
}
.f16_5c5c5c {
    font-size: 16px;
    color: #e6244e;
    font-weight: bold;
}
.bg_f7f7f7 {
    background: #fff;
    margin: 20px 0;
    padding: 15px 0;
}
.f13bu_6a6a6a {
    font-size: 13px;
    color: #6a6a6a;
    text-transform: uppercase;
    font-weight: 700;
}
.ul_lv2 {
    padding: 18px 0;
}
.ul_lv2 > .li_lv2 > a {
    font-size: 13px;
    color: #666;
}
.pd_r_5 {
    padding-right: 5px;
}
.link_icon {
    overflow: hidden;
    width: 100%;
    text-align: center;
    padding-left: 30%;
}
.link_icon ul li {
    float: left;
    padding: 15px 2px;
}
.sale-box {
    margin-top: 13px;
}
.sale-box h3 {
    display: block;
    line-height: 30px;
    color: #fff;
    padding: 0 15px 0 0;
    background: #ffae00;
    font-size: 12px;
    text-transform: uppercase;
    width: auto;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.sale-box h3 {
    float: left;
}
.sale-box h3.active:first-child {
    border-right: 1px solid #fff;
    padding: 0 30px;
    margin-bottom:0;
}
.sale-box .sale-b-ct {
    background: #feea97;
    margin-right: 20px;
    line-height: 1.7;
    padding: 15px;
    font-size: 13px;
}
.clearfix {
    clear:both;
}
.sale-box .sale-b-ct p {
    color: #333;
}
#binhluan {
    background: rgba(236, 236, 236, 0.4);
    padding-top: 15px;
}
.padding-left-15 {
    padding: 15px;
}
.title-tab {
    margin-bottom: 15px;
}
.title-tab a {
    color: #000;
    font-size: 17px;
    margin-top: 10px;
}
.danhgia-1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.danhgia-1 p {
    font-weight: 600;
    font-size: 16px;
    line-height: 50px;
}
.danhgia-1 .number {
    font-size: 60px;
}
.group-star {
    font-size: 20px;
}
.danhgia-2 {
    border-right: 1px solid #cccccc;
    margin-top: 47px;
    padding-top: 8px;
}
.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.progress {
    height: 10px !important;
}
.col-xs-3.col-sm-4.col-md-3.w_1199_34.col-480-12.more_info {
    font-size: 12px;
    padding: 0;
}
#binhluan_products {
    margin-top: 50px
}
.danhgia-3 {
    margin-top: 47px;
    padding-top: 8px;
}
.btn-bl {
    border: none;
    background: #e6244e;
    color: #fff;
    line-height: 20px;
    height: 30px;
    width: 145px;
    border-radius: 3px;
}
.show_binhluan {
    padding: 15px;
    background: rgba(185, 185, 185, 0.13);
    border-top: 1px solid rgba(51, 51, 51, 0.2);
}
.title_binhluan {
    color: #333;
    font-weight: 700;
    font-size: 17px;
}
