.close-btn-ad01 {
	position: absolute;
	top: 5%;
	right: 10%;
	cursor: pointer;
}
@media(max-width: 468px){
	.slide-right {
		width: 100%;
	}
}
.box-fb iframe {
	max-width: 100%;
}
@media(min-width: 992px){
	.gird-items .single-product-item {
		height: 295px; 
	}
}
.tab_op {
	border-bottom: 1px solid #e6244e!important;
}
.tab_op li a {
	color: #e6244e!important;
	font-weight: 600!important;
}
.tab_op li.active a,
.tab_op li.active a:hover {
	background: #e6244e!important;
	border-radius: 0;
	color: #fff!important;
	font-weight: 600!important;
}
.popup_left {
    left:0;
}
.popup_right { 
    right:0;
}
.btn-nav-mb {
	margin-top: 10%;
}
.btn-nav-mb .icon-bar {
	background: #333;
}
@media(min-width: 500px) {
	#myNavbar {
		display: none!important;
	}
}
@media(max-width:468px) {
	.logo {
		display: inline-block;
	}
	.box-hotline {
		margin-right: 10px;
	}
	.catagory-bar {
	    padding: 10px;
	}
	#myNavbar {
		background: #eee;
		margin-top: 30px;
	}
	.section-heading h2.small-icon-size {
		float: none;
	}
	.block-title {
	    display: block;
	    text-align: center;
	}
	.single-product-item.floating {
	    padding: 10px !important;
	}
	.actions.quantum.clearfix div {
		width: 100% !important;
		padding-bottom: 10px;
	}
	.actions.quantum.clearfix button {
		width: 100%;
	}
	.danhgia-2 {
		display: none;
	}
	#btn_sent {
	    position: unset !important;
	    width: 100%;
	    margin-bottom: 20px;
	}
	.single-product-item {
	    background: #fff;
	}
	.single-product-item .item-price {
	    position: unset !important;
	}
	.breadcrumb-area {
	    display: none;
	}
}