

@media (min-width: 1201px) and (max-width: 1400px) {
    .close-section-btn {
        right: 10px;
        top: -20px;
    }
}


/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1200px) {
    .header-search #select {
        right: 0px;
    }
    .header-search span::before {
        top: -3px;
        left: -10px;
    }
    .header-search span::after {
        right: 50px;
    }
    .catagory-list-menu ul li {
        line-height: 41.2px;
    }
    .catagory-list-menu ul li a {
        font-size: 13px;
        padding-left: 10px;
    }
    .layer-1-2 h2.title-2 {
        margin-top: 15px;
    }
    .DateCountdown {
        width: 100%;
    }
    .category-item-menu {
        display: none;
    }
    .blog-content {
        padding-right: 5px;
    }
    .blog-content .view-count {
        margin-left: 75px;
    }
    .blog-description {
        margin-top: 10px;
    }
    .social-icons a {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
    .scroll-item {
        display: none;
    }
    #item-modal .modal-dialog {
        width: 850px;
    }
    .single-box-item.style-2 .actions {
        margin-bottom: 35px;
    }
    .single-box-item.style-2 .hover-content {
        left: 46%;
        margin-top: 60px;
    }
    .tab-content.style-2 {
        margin-left: 0;
        padding-left: 0;
    }
    .different-items {
        margin-left: -1px;
        border-left: 1px solid #eee;
    }
    .section-heading .header-section-bg {
        margin-left: 14px;
        width: calc(100% - 29px);
    }
    .banner-type-item-slide .single-box-item.style-2 {
        padding: 11.6px 15px;
    }
    .stock span {
        padding: 8px 10px;
    }
}


/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
    .sm-mt-40 {
        margin-top: 40px;
    }
    .sm-mt-30 {
        margin-top: 30px;
    }
    .top-banner-area .description {
        padding-top: 10px;
    }
    .top-banner-area .icon {
        margin-top: -10px;
    }
    .top-content {
        text-align: center;
    }
    .header-address {
        display: inline-block;
        float: none;
    }
    .header-menu ul {
        text-align: center;
    }
    .logo {
        text-align: center;
        display: block;
    }
    .header-search #select {
        right: 0px;
    }
    .header-search span::before {
        top: -3px;
        left: -10px;
    }
    .header-search span::after {
        right: 50px;
    }
    .header-section-bg {
        margin-left: 15px;
        margin-right: 15px;
    }
    .tab-content.style-2 {
        margin-left: 0;
        padding-left: 0;
    }
    .slider-caption.style-2 {
        padding-top: 30px;
    }
    .layer-1-2 h2.title-2 {
        margin-top: 15px;
    }
    .layer-1-3 p.title-3,
    .layer-2-3 p.title-3 {
        margin-bottom: 10px;
    }
    .img {
        float: none;
        margin: auto;
    }
    .single-info {
        text-align: center;
    }
    .info-content {
        padding: 0;
        margin-top: 10px;
    }
    .category-item-menu {
        display: none;
    }
    .scroll-item {
        display: none;
    }
    .footer-bottom-area,
    .footer-bottom-area .text-right {
        text-align: center;
    }
    #item-modal .modal-dialog {
        width: 750px;
    }
    .single-box-item.style-2 .actions {
        margin-bottom: 35px;
    }
    .single-box-item.style-2 .hover-content {
        left: 46%;
        margin-top: 60px;
    }
    .different-items {
        margin-left: -1px;
        border-left: 1px solid #eee;
    }
    .section-heading .header-section-bg {
        margin-left: 14px;
        width: calc(100% - 29px);
    }
    .banner-type-item {
        width: 42%;
    }
    .banner-type-item-slide {
        width: 58%;
        margin-left: 42%;
    }
    .single-box-item .box-item-img {
        width: 29.1%;
    }
    .stock span {
        padding: 8px;
    }
}


/* small mobile :320px. */

@media (max-width: 767px) {
    .container {
        width: 320px;
    }
    .xs-mt-40 {
        margin-top: 40px;
    }
    .xs-mt-30 {
        margin-top: 30px;
    }
    .xs-mt-20 {
        margin-top: 20px;
    }
    #mobileMenu {
        display: block;
        position: absolute;
        top: -80px;
        width: 95%;
        right: 13px;
        z-index: 999;
    }
    .slicknav_menu {
        background-color: transparent;
    }
    .slicknav_nav {
        background-color: #000;
    }
    .slicknav_nav ul {
        margin: 0;
    }
    .top-banner-area {
        display: none;
    }
    .top-content {
        text-align: center;
    }
    .header-address,
    .header-menu ul li a {
        line-height: 30px;
    }
    .header-address {
        display: inline-block;
        float: none;
    }
    .header-address span {
        border: 0px;
    }
    .header-menu ul {
        text-align: center;
    }
    .logo {
        text-align: center;
        display: block;
    }
    .header-search #select {
        width: 40%;
        right: 0;
    }
    .header-search span::after {
        display: none;
    }
    .header-search span::before {
        display: none;
    }
    .header-search span {
        margin-left: 0;
    }
    .header-search input {
        padding-left: 5px;
        width: 53%;
    }
    .header-search button {
        width: 40px;
        font-size: 20px;
        line-height: 100%;
    }
    .total-cart {
        float: none;
        text-align: center;
        width: 25%;
    }
    .cart-item {
        right: auto;
        left: 0;
        width: 270px;
        padding: 15px 15px 0px;
    }
    .cart-item .single-item {
        text-align: left;
    }
    .subtotal {
        text-align: left;
    }
    .cart-item .checkout {
        left: 15px;
        margin-left: -30px;
    }
    .header-bottom {
        background-color: transparent;
    }
    .header-section-bg {
        background-color: transparent;
    }
    .section-heading .header-section-bg {
        background-color: #000;
    }
    .nivo-caption {
        padding: 5px 10px;
    }
    .slider-caption {
        padding-top: 20px;
    }
    .layer-1-1 h2.title-1,
    .layer-1-2 h2.title-2,
    .layer-2-1 h2.title-1,
    .layer-2-2 h2.title-2 {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .layer-1-2 h2.title-2,
    .layer-2-2 h2.title-2 {
        font-size: 20px;
    }
    .layer-1-3 p.title-3,
    .layer-2-3 p.title-3 {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .layer-1-4 a.title-4,
    .layer-2-4 a.title-4 {
        padding: 0px 15px;
        line-height: 30px;
        font-size: 11px;
    }
    .layer-2-2 h2.title-2 span {
        color: #f9ba48;
        display: inline-block;
    }
    .layer-2-3 p.title-3 {
        font-size: 14px;
        margin-top: -5px;
    }
    .slider-caption.style-2 {
        padding-top: 3px;
    }
    .slider-caption.style-2 .layer-1-3 .title-3 {
        font-size: 11px;
        padding: 0;
    }
    .slider-caption.style-2 .layer-2-3 p.title-3 {
        font-size: 12px;
        margin-top: -10px;
    }
    .preview-1 .nivo-controlNav {
        display: none;
    }
    .deals-day-items .floating .item-img {
        width: 100%;
    }
    .deals-day-items .floating .item-info {
        width: 100%;
        padding: 20px;
    }
    .DateCountdown {
        margin-left: 0;
        width: 100%;
    }
    .product-tab li {
        display: block;
    }
    .product-tab li a {
        padding: 5px 0px;
    }
    .product-tab li a::after {
        width: 0px;
    }
    .category-item-menu {
        display: none;
    }
    .multiple-items.owl-carousel .owl-controls .owl-nav div {
        top: -178px;
        color: #ccc;
    }
    .multiple-items.random-products.owl-carousel .owl-controls .owl-nav div,
    .multiple-items.product-details.owl-carousel .owl-controls .owl-nav div {
        top: -83px;
    }
    .multiple-items.owl-carousel .owl-controls .owl-nav div.owl-next i::after {
        background-color: #aaa;
    }
    .social-icons.text-right {
        text-align: left;
    }
    .widget-title h3 {
        margin-bottom: 0;
    }
    .footer-bottom-area {
        text-align: center;
    }
    #item-modal .modal-dialog {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .product-modal .floating .item-img {
        width: 100%;
        margin-bottom: 15px;
    }
    .product-modal .floating .item-info {
        width: 100%;
        padding: 0;
    }
    .product-modal .single-product-item.floating {
        padding: 0;
    }
    .product-modal .social-share a {
        margin-bottom: 10px;
    }
    .section-heading .header-section-bg {
        margin-left: 14px;
        width: calc(100% - 29px);
    }
    .different-items {
        margin-left: -1px;
        border-left: 1px solid #eee;
    }
    .tab-content.style-2 {
        margin-left: 0;
        padding-left: 0;
    }
    .slide-banner .slide-banners {
        width: 100%;
    }
    .slide-banner .slide-banners a {
        margin-top: 20px;
    }
    .slide-banner .slider-area {
        width: 100%;
    }
    .slide-show.slide-banner {
        margin-top: 0;
    }
    .banner-type-item {
        display: none !important;
    }
    .banner-type-item-slide {
        width: 100%;
        margin: 0;
    }
    .buttons a.stock:last-child {
        float: none;
        margin-top: 30px;
    }
    .blog-full-post .post-text blockquote {
        margin-left: 15px;
    }
    .blog-full-post .post-info span.pull-right {
        float: none !important;
        display: block;
        margin-top: 10px;
    }
    .author-comment a {
        display: block;
        margin-bottom: 5px;
    }
    .author-comment h5 {
        margin-bottom: 10px;
        margin-left: 5px;
    }
    .comment-list ul li.comment-reply {
        margin-left: 0;
    }
    .header-bottom.stick {
        background-color: transparent;
    }
    .gird-items .single-product-item {
        width: 100%;
    }
    .list-category-items .floating .item-img {
        width: 100%;
    }
    .list-category-items .floating .item-info {
        width: 100%;
        padding: 5px;
    }
    .category-options .size {
        margin-left: 0;
        margin-bottom: 10px;
    }
    .category-bar .compare-btn {
        float: none;
        margin-top: 5px;
    }
    .list-gird-tab-menu {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
    .box_ct_ft {
        text-align: center;
    }
    .box_ct_ft .float_left {
        float:none;
    }
}


/* Large Mobile :480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 450px;
    }
    .header-search input {
        width: 50%;
    }
    .header-search span::after {
        right: 35px;
        display: block;
    }
    .header-search #select {
        width: 45%;
    }
    .total-cart {
        width: 45%;
    }
    .cart-item {
        width: 300px;
    }
    .slider-caption {
        padding-top: 40px;
    }
    .layer-1-1 h2.title-1,
    .layer-1-2 h2.title-2,
    .layer-2-1 h2.title-1,
    .layer-2-2 h2.title-2 {
        font-size: 14px;
    }
    .layer-1-2 h2.title-2,
    .layer-2-2 h2.title-2 {
        font-size: 24px;
    }
    .layer-1-3 p.title-3,
    .layer-2-3 p.title-3 {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .layer-1-4 a.title-4,
    .layer-2-4 a.title-4 {
        font-size: 12px;
    }
    #item-modal .modal-dialog {
        width: 300px;
    }
    .header-section-bg .product-tab li {
        display: inline-block;
    }
    .header-section-bg .product-tab li a {
        padding: 15px 10px;
    }
    .box_ct_ft {
        text-align: center;
    }
    .box_ct_ft .float_left {
        float:none;
    }
}
@media only screen and (max-width: 1700px) {
    /*.product-home .item-product{
        width: auto;
    }*/
}
@media only screen and (max-width: 1200px) {
    .main-menu .right .search{
        width: 76%;
    }
    .item-product .item .title1 a{
        font-size: 17px;
    }
    .sear-nav-title .sear-nav-title2 a {
        max-width:45%;
    }
    html,body {
        overflow-x:hidden;
    }
}
@media only screen and (max-width: 1024px) {
    .item-product .item .title1 a {
        font-size: 22px;
    }
    #wrapper{
        width: 100%;
        overflow: hidden;
    }
    .item-product .item{
        width: calc((100% - 40px) / 3);
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .item-product .item:nth-child(3n){
        margin-right: 0;
    }
    .product-home .item-product{
        background: none;
    }
    .product-home .item-product:before{
        display: none;
    }

    .nav-technology .item{
        width: calc((100% - 40px) / 3)
    }
    .nav-technology .item:nth-child(3n){
        margin-right: 0;
    }

    .product-home>.item-product>.container{
        width: 100%;
    }
    .donghanh .item{
        background-size: cover;
        margin-bottom: 20px;
    }
    .footer-botton .share{
        margin-bottom: 20px;
    }
    .memu-left ul li a{
        padding: 0 5px;
    }
    .main-menu .right .search{
        width: 74%;
    }
    /*.logo{
        display: none;
    }*/
    .nav-new-home .left{
        margin-bottom: 10px;
    }
    .top-info .item .right{
        width: calc(100% - 50px);
        display: inline-block;
        float: right;
    }
    .top-info .item .right span{
        font-size: 14px;
    }
    .tab-htpp ul li a{
        padding:0 5px;
    }
    .banner h1.title{
        font-size: 55px;
    }
    .product-home .item-product{
        width: 100%;
    }
    .product-home .item-product1:before{
        display: none;
    }
    .sparner-item .slider-description {
        width:50%;
    }
    .sparner-item {
        background-position:50% center;
    }
}
@media only screen and (max-width: 768px) {
    #myModal .modal-header .retager {
        position:static;
    }
    .sparner-item .slider-description {
        width:100%;
    }
    .sparner-item {
        background-position:center center;
        padding-top:200px;
    }
    .partnerlink-feature.sliderowl-custom .owl-nav,.partnerlink-feature.sliderowl-custom .owl-dots {
        display:none;
    }
    .sparner-item .slider-description h3 {
        margin-bottom:20px;
        font-size:30px;
    }
    .sparner-item .slider-description {
        padding:20px;
    }
    .top-title .right{
        padding:0;
    }
    .nav-thuctap .icontt1{
        display: none;
    }
    .nav-thuctap .icontt2{
        display: none;
    }
    .nav-thuctap .icontt3{
        display: none;
    }
    .nav-thuctap .icontt4{
        display: none;
    }

    .language-mobile{
        display: block;
        background: #ddd;
        padding:5px 0;
    }
    .top-content-page_in .col-md-10{
        display: none;
    }
    .laguage.language-mobile{
        display: block;
    }
    .map-info span{
        display: block;
    }
    .nav-new-home .left{
        margin-bottom: 20px;
    }
    .menu-mobie{
        display: inline-block;
        background: #009D54;
        position: relative;
        width: 100%;
        height: 75px;
    }
    .toggle-menu{
        width: calc(100% - 20px);
        margin: auto;
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 15px;
    }
    .toggle-mclose{
        display: none;
    }
    .menu-mobie .logo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #header{
        position: relative;
    }
    #header .nav-toggle-menu{
        position: absolute;
        background: #009D54;
        top: 76px;
        width: 100%;
        z-index: 2;
    }
    #header .nav-toggle-menu ul li a{
        font-size: 16px;
        color: #fff;
        position: relative;
        display: inline-block;
        padding-left: 10px;
    }


    #header .nav-toggle-menu ul li a{
        width: 100%;
        display: inline-block;
        border-bottom: 1px solid #1aa765;
        padding: 7px 0;
        position: relative;
        padding-left: 10px;
    }

    #header .nav-toggle-menu ul li a .arrow{
        float: right;
        display: inline-block;
        width: 30px;
        height: 30px;

    }
    #header .nav-toggle-menu ul li .arrow .fa{
        color: #fff;
        display: block;
        font-size: 28px;
        /* padding: 15px 0 15px 30px; */
        position: absolute;
        right: 10px;
        top: 4px;
    }
    #header .nav-toggle-menu ul.submenu li{
        list-style: none;
    }
    #header .nav-toggle-menu ul.submenu a{
        padding-left: 20px;
    }
    .toggle-menu img{
        width: 26px;
    }
    #header .nav-toggle-menu  .submenu{
        display: none;
        background: rgb(0, 195, 104);
    }
    .nav-toggle-menu{
        display: none;
    }
    .nav-toggle-menu.open{
        display: block;
    }
    .toggle-menu.active .toggle-mshow{
        display: none;
    }
    .toggle-menu.active .toggle-mclose{
        display: block;
    }
    .menu-mobie .logo{
        text-align: center;
    }
    .menu-mobie .logo img{
        width: 70%;
    }
    .main-slider{
        clear: both;
    }
    /*.menu-mobie .search {
            position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }*/
    .menu-mobie .search .click-search {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .top-title .right{
        text-align: left;
    }
    .menu-mobie .search .click-search img{
        width: 50%;
    }

    .top-title .right ul{
        width: 100%;
        top:50px;
    }
    .menu-mobie .search .nav-search{
        position: absolute;
        top: 30px;
        left: 0;
        right: 0;
        z-index: 2;
        padding: 10px;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -ms-transition: all 0.3s ease-in-out 0s;

    }
    .menu-mobie .search .nav-search input[type=text]{
        width: 100%;
        height: 36px;
    }

    .menu-mobie .search .open1{
        top: 77px;
        visibility: visible;
        opacity: 1;
        background: #009D54;
    }
    .menu-mobie .search .nav-search input[type=text] {
        position: relative;
    }


    .posive-slider{
        display: none;
    }
    .product-home{
        padding-top: 13px;
        padding-bottom: 0;
    }
    .product-home .item-product{
        margin-top: 10px;
    }
    .nav-technology{
        margin-top: 28px;
    }
    .technology-home{
        padding-top: 29px;
    }
    .donghanh{
        margin-top: 32px;
    }
    .donghanh .nav-donghanh{
        margin-top: 22px;
    }
    .top-footer .item .icon{
        width: 20%;
    }
    .top-footer .item .noidung{
        width: 79%;
    }
    .top-footer .item .noidung.nd-phone{
        font-size: 15px;
    }
    /*.top-content-page_in{
        display: none;
    }*/
    .main-menu-mobile li{
        list-style: none;
    }
    .nav-title-donghanh h1{
        font-size: 45px;
    }
    .nav-title-donghanh h2{
        font-size: 30px;
    }
    .grid-grid .box{
        position: inherit;
    }
    .grid-grid{
        width: calc(100% - 20px);
        margin: auto;
        height: auto;
    }
    .grid-grid .box img{
        width: 100%;
    }
    .grid-grid .box{
        left: inherit;
        top:inherit;
        margin-bottom: 10px;
        right: inherit;
    }
    .content-info .khung-content{
        padding-top: 18px;
        padding-bottom: 3px;
    }
    .content-info .khung-content{
        width: calc(100% - 20px);
    }
    .banner h1.title{
        font-size: 43px;
    }
    .banner p.desc{
        font-size: 13px;
    }
    .content-congnghe .item h3.title1{
        line-height: 21px;
        height: 61px;
        overflow: hidden;
    }
    .top-tuyendung h2.title1{
        font-size: 28px;
        padding-top: 35px;
    }
    .nav-quytrinh{
        width: 100%;
        background: none;
    }
    .nav-quytrinh .item{
        width: 100%;
        margin-right: 0;
    }


    .nav-quytrinh .item .icon{
        display: none;
    }
    .nav-quytrinh .item .stt{
        font-size: 70px;
        color: #222;
        margin:0;
    }
    .quytrinhtuyen{
        background: none;
    }
    .nav-quytrinh{
        padding-bottom: 10px;
    }
    .nav-quytrinh .item h3{
        padding-top: 12px;
    }
    .nav-quytrinh .item{
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .nav-quytrinh .item:nth-child(2){
        width: 100%;
    }
    .nav-quytrinh .item:nth-child(3){
        width: 100%;
    }
    .nav-quytrinh .item:nth-child(4){
        width: 100%;
    }
    .nav-quytrinh .item:nth-child(5){
        width: 100%;
    }
    .quytrinhthuctap{
        margin-top: 13px;
    }
    .nav-thuctap{
        width: 100%;
        padding-bottom: 0;
    }
    .nav-thuctap .item:before{
        display: none;
    }
    .nav-thuctap .item2:before{
        display: none;
    }
    .nav-thuctap .item3:before{
        display: none;
    }
    .nav-thuctap .item4:before{
        display: none;
    }
    .nav-thuctap .item h2{
        width: 100%;
    }
    .nav-thuctap .item{
        width: calc((100% - 30px) / 2);
        margin-right: 30px;
        margin-bottom: 58px;
    }
    .nav-thuctap .item:nth-child(2n){
        margin-right: 0;
    }
    .nav-thuctap .item .desc{
        width: 100%;
        padding-bottom: 23px;
        height: auto;
    }
    .nav-thuctap .item h2{
        left:0;
    }
    .nav-thuctap .item2 h2{
        top:-27px;
        bottom: inherit;
    }
    .nav-thuctap .item4 h2{
        top:-27px;
        bottom: inherit;
    }
    .nav-thuctap{
        padding-top: 55px;
    }
    .quytrinhthuctap .desc-qt{
        padding-left: 10px;
        padding-right: 10px;
    }
    .slider-qt{
        margin-top: 15px;
    }
    .top-lienket{
        margin-top: 76px;
    }
    .top-lienket .item{
        margin-bottom: 79px;
    }
    .nav-content-link p.desc{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 0;
    }
    .hoptackinhdoanh h2.title1 {
        font-size:24px;
    }
    .hoptackinhdoanh h2.title1.titlesmall {
        font-size: 19px;
        line-height: 22px;
    }
    .nav-hoptackinhdoanh .item .images img{
        width: 100%;
    }
    .logo-hp1 {
        position: absolute;
        bottom: 10px;
        left: 10px;
        z-index: 2;
    }
    .logo-hp1 img,.nav-hoptackinhdoanh.sliderowl-style .logo-hp img {
        float: left;
        width: 35px !important;
    }
    .logo-hp1 span{
        font-size: 14px;
        padding-top: 8px;
        padding-left:7px;
    }
    .quytrinhksoat h2.title1{
        padding: 20px 20px 20px 20px;
    }
    .quytrinhksoat .right{
        padding-top: 20px;
    }
    .quytrinhksoat .right ul li{
        padding-bottom: 8px;
    }
    .hethongtruyxuat{
        margin-top: 30px;
    }
    .hethongtruyxuat h2.title1{
        padding-bottom: 29px;
    }
    .hethongtruyxuat{
        padding-bottom: 20px;
    }
    .tab-htpp .nav-tabs>li{
        width: calc(100% / 2);
    }
    .main-detail-product .right{
        width: 100%;
        padding: 10px;
        margin-top:15px;
    }
    .nav-donghanh .owl-prev,.sliderproduct .owl-prev,
    .nav-top-ksoat .owl-prev,.sliderowl-style .owl-prev {
        left:0;
    }
    .nav-donghanh  .owl-next,.sliderproduct .owl-next,
    .nav-top-ksoat .owl-next,.sliderowl-style .owl-next {
        right:0;
    }
    .nav-slider-product{
        height: auto;
        line-height: auto;
        padding:10px 0;
    }
    .nav-slider-product .tab-content {
        margin:0;
    }
    .grid-grid .box{
        width: 100%;
        height: auto;
    }
    .nav-new-home .right .item-new{
        margin-bottom: 15px;
    }
    .koh-faq-question .fa{
        padding: 14px;
        color: $FFF;
    }
    .koh-faq-question .fa{
        float: right;
        color: #fff;
    }
    .top-content-page_in{
        display: none;
    }
    .top-info .item{
        margin-top: 10px;
    }
    .top-dinghanh .col-md-5{
        width: 100%;
    }
    .top-dinghanh .col-md-7{
        width: 100%;
    }
    .top-dinghanh .images{
        margin-top: 10px;
        text-align: center;
    }
    .top-dinghanh .nav-images{
        padding-top: 20px;
    }
    .content-info.content-dk h2.title1{
        font-size: 36px;
        padding-bottom: 10px;
    }
    .ksoat-donghanh .col-md-5{
        width: 100%;
    }
    .ksoat-donghanh .col-md-7{
        width: 100%;
    }
    .quytrinhksoat h2.title1{
        padding-bottom: 0;
    }
    .hoidap{
        padding-top: 37px;
    }
    .hoidap p.desc{
        padding-top: 7px;
        padding-bottom: 10px;
    }
    .tab-htpp .col-md-4{
        text-align: center;
    }
    .tab-htpp .col-md-4 .banhangdoanhnghiep{
        display: inline-block;
        padding:10px;
    }
    .nav-slider-detail{
        width: 100%;
    }
    .slider-top-product{
        display: inline-block!important;
    }
    .slider-top-product .item{
        text-align: center;
    }
    .nav-slider-detail a{
        width: auto;
        height: auto;
    }
    .top-title .right{
        text-align: center;
    }
    .top-title .left{
        width: 100%;
    }
    .chon select{
        max-width:400px;
    }
}
@media only screen and (max-width: 736px) {
    .top-title .right ul{
        top:30px;
    }
    .footer-botton .nav-item1 ul li{
        width: 100%;
        margin-right: 0;
    }
    .nav-item1 ul{
        display: inline-block;
    }
    .donghanh .nav-donghanh h4{
        padding-top: 20px;
    }
    .copy-right{
        text-align: center;
    }
    .technology-home h2.title1{
        font-size: 27px;
        padding-top: 10px;
    }
    .donghanh .nav-donghanh h4{
        height: 54px;
    }
    /*.nongtruong h2{
        color: #222;
    }*/
    /*.nongtruong p{
        color: #222;
    }*/
    .nongtruong{

        padding-top: 0;
        margin-top: 0;
    }
    .nongtruong .left{
        padding-top: 10px;
    }
    .nongtruong h2{
        padding-bottom: 6px;
    }
    .chon{
        margin-top: 14px;
    }
    #footer{
        padding-top: 12px;

    }
    .top-footer .item{
        padding-bottom: 10px;
    }
    .top-footer .item .icon{
        width: 10%;
    }
    .top-footer .item .noidung{
        width: 90%;
    }
    .top-footer .item .noidung.nd-phone{
        padding-left: 0;
    }
    .footer-botton .item1{
        margin-bottom: 10px;
    }
    .top-info .item .right span{
        font-size: 14px;
    }
    .top-info .item{
        padding-bottom: 10px;
    }
    .content-info .khung-content{
        width: calc(100% - 20px);
        padding-top: 13px;
        padding-bottom: 0;
    }

    .nav-left .guilienhe input[type=submit]{
        height: 35px;
        line-height: 35px;
    }
    .main-contact .right{
        padding-top: 15px;
    }
    .content-htpp .right{
        margin-top: 15px;
    }
    .content-htpp .left{
        margin-top: 10px;
    }
    .content-nongtruong .item-nt .overlay .nav-images{
        padding:10px;
    }
    .content-nongtruong .item-nt .overlay .nav-images .xemchitiet a{
        margin-top: 0;
    }
    .top-info{
        clear: both;
        padding-top: 6px;
    }
    .banner{
        overflow: visible;
        clear: both;
    }
    .banner img{
        width:auto;
        height:150px;
    }
    .contact-donghanh{
        background:none;
    }
    .contact-donghanh{
        padding-top: 0;
    }
    .contact-donghanh h3.top-title1{
        padding-top: 0;
    }
    .main-contact .item-contact{
        width: 100%;
        margin-right: 0;
    }
    .main-contact .item-contact{
        margin-bottom: 7px;
    }
    .contact-donghanh.main-contact .item-nd{
        margin-top: 26px;
    }
    .contact-donghanh textarea{
        height: 314px;
    }
    .tab-htpp ul li a{
        height: 40px;
        line-height: 40px;
    }
    .nav-thuctap .icontt1{
        display: none;
    }
    .nav-thuctap .icontt2{
        display: none;
    }
    .nav-thuctap .icontt3{
        display: none;
    }
    .nav-thuctap .icontt4{
        display: none;
    }
    #main{
        clear: both;
        padding-top: 10px;
    }
    .map-detail-nongtruong .map-info{
        width: 100%;
    }
    .map-info{
        padding:15px;
    }
    .nav-title-donghanh h1{
        font-size: 15px;
    }
    .banner h1.title{
        font-size: 15px;
    }
    .banner p.desc{
        font-size: 10px;
        padding-top: 5px;
    }
    #main-ksoat .nav-title-donghanh p{
        font-size: 10px;
    }
    .banner .nav-title-product {
        top:70px;
    }
    .sear-nav-title input[type=text]{
        width:100%;
        height: 27px;
    }
    .sear-nav-title .sear-nav-title2 a{
        height: 26px;
        line-height: 26px;
    }
    /*.slider-home1.banner img{
        display: none;
    }*/

    .sear-nav-title .sear-nav-title1 img{
        display: none;
    }
    .sear-nav-title .sear-nav-title2{
        margin-top: 0;
    }
}
@media only screen and (max-width: 540px){
    .contact-donghanh h3.top-title1 .hotline {
        margin-left:40px;
        vertical-align: middle;
    }
    h2.title1{
        font-size: 20px;
    }
    .sear-nav-title .sear-nav-title2 a {
        display:block;
        margin-top:10px;
        max-width:100%;
        width:100%;
    }
    .new-home .nav-new-home{
        margin-top: 10px;
    }
    .new-home{
        margin-top: 20px;
    }
    .nav-new-home .right .item-new{
        margin-bottom: 10px;
    }
    .product-home{
        padding-top: 10px;
    }
    .item-product .item{
        width:50%;
        margin-right: 0;
    }
    .item-product .item:nth-child(2n){
        margin-right: 0;
    }
    .technology-home{
        padding-top: 17px;
    }
    .technology-home .desc-desc{
        padding-top: 10px;
    }
    .nav-technology .item{
        width: calc((100% - 10px) / 2);
        margin-right: 10px;
    }
    .nav-technology .item:nth-child(2n){
        margin-right: 0;
    }
    .nav-technology .item h4.title{
        padding:0;
    }
    .nav-technology .item h4.title{
        font-size: 13px;
    }
    .nav-technology .item{
        margin-bottom: 10px;
    }
    .donghanh .nav-donghanh h4{
        font-size: 13px;
    }
    .footer-botton h3.title{
        padding-top: 15px;
    }
    .top-footer .item .icon{
        width: 13%;
    }
    .top-footer .item .noidung{
        width: 86%;
    }
    .new-home .nav-new-home h3.title2{
        font-size: 16px;
    }
    .slider-home .owl-dots{
        bottom: 0;
    }

    /*.nav-title-donghanh h2{
        display: none;
    }
    .nav-title-donghanh p{
        display: none;
    }*/
    .nav-title-donghanh p{
        padding-right: 0;
    }
    .nav-title-donghanh h2{
        font-size: 12px;
    }
    .nav-title-donghanh p{
        font-size: 10px;
    }

    .nav-title-donghanh h1{
        font-size: 14px;
    }
    .nav-title-donghanh h2{
        padding-bottom: 0;
    }
    .top-dinghanh .nav-images{
        padding-top: 15px;
    }
    .content-dk h2.title1{
        padding-bottom: 0;
    }
    .quytrinhksoat h2.title1{
        padding: 25px 0 0 0;
        font-size: 20px;
        line-height: auto;
    }
    .quytrinhksoat .right{
        padding-top: 13px;
        padding-bottom: 0;
    }
    .quytrinhksoat .right ul li{
        padding-bottom: 5px;
    }
    .dowloadmau{
        margin-bottom: 30px;
        margin-top: 10px;
    }
    .dowloadmau a{
        width: 100%;
        height: 40px;
        line-height: 40px;
    }
    .hoidap{
        padding-top: 25px;
        padding-bottom: 20px;
    }
    .hoidap p.desc{
        padding-top: 6px;
        padding-bottom: 12px;
    }
    .set > a{
        padding: 5px 15px;
    }
    .contact-donghanh h3.top-title1{
        padding-top: 0;
    }
    .main-contact{
        padding-top: 0;
    }
    .main-contact .item-contact{
        margin-bottom: 11px;
    }
    .main-contact .item-contact input[type=text]{
        height: 36px;
    }
    .nav-left .guilienhe input[type=submit]{
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 14px;
        height: 30px;
        line-height: 30px;
    }

    .top-tuyendung h2.title1{
        padding-top: 0;
    }
    .top-tuyendung{
        margin-top: 26px;
    }
    .quytrinhtuyen h2.title1{
        padding-top: 20px;
        font-size: 31px;
    }
    .content-htpp{
        padding-bottom: 0;
    }
    .nav-quytrinh{
        margin-top: 0;
    }
    .main-contact .nav-right .nav-icon{
        padding-left: 24px;
    }
    .main-contact{
        padding-top: 20px;
    }
    .top-content-new .right h3.title{
        font-size: 17px;
        padding-top: 10px;
    }
    .nav-content-item > .item>.row >.col-md-4{
        width: 100%;
    }
    .nav-content-item > .item>.row >.col-md-8{
        width: 100%;
        padding-left: 0;
    }
    .top-content-new{
        margin-top: 20px;
    }
    .top-content-new .right .date{
        padding: 6px 0 1px 0;
    }
    .nav-content-item.top-content-new .right h3.title{
        font-size: 17px;
    }
    .top-ksoat{
        padding-top: 23px;
        padding-bottom: 20px;
    }
    .top-ksoat h2.title1{
        font-size: 23px;
    }
    .nav-top-ksoat .item{
        margin-bottom: 10px;
    }
    .hethongtruyxuat .left{
        padding-top: 0;
    }
    .hethongtruyxuat .right .item1{
        padding-bottom: 10px;
    }
    .quytrinhksoat{
        background: none;
    }
    .quytrinhksoat h2.title1{
        color: #222;
    }
    .quytrinhksoat .right ul{
        padding-left: 20px;
    }
    .quytrinhksoat .right ul li{
        color: #222;
        margin-left: 0;
        list-style: inherit;
    }
    .quytrinhksoat .left img{
        display: none;
    }
    .quytrinhksoat .right ul li:before{
        display: none;
        left:0;
    }
    .hethongtruyxuat .item.center{
        text-align: center;
    }
    #modal-quotation .modal-lg{
        width: calc(100% - 20px);
    }
    .top-title .left p{
        font-size: 12px
    }
    .nav-technology .item{
        width: 100%;
        margin-right: 0;

        padding-bottom: 10px;
        margin-bottom: 19px;
    }
    .nav-donghanh>.row>.col-md-3{
        width: 100%;
    }
    .content-info .khung-content{
        width: calc(100% - 20px);
        padding:0;
    }
    .hoidap{
        padding-top: 0;
    }
    .content-info.content-dk h2.title1{
        font-size: 26px;
        padding-top: 15px;
    }
    .content-congnghe .col-md-4{
        width: 100%;
    }
    .content-congnghe .item h3.title1{
        height: auto;
    }
    .tab-htpp .nav-tabs>li{
        width: 100%;
    }

    .content-htpp .left p.result{
        font-size: 19px;
    }

    .top-info .col-md-3{
        width: 100%;
    }
    .map-info{
        min-width: inherit!important;
    }
    .content-nongtruong .item-nt .overlay{
        position: inherit;
        background-color: #000;
    }
    .content-nongtruong .item-nt .overlay .nav-images .xemchitiet a{
        width: auto;
        height: auto;
        padding: 0px 15px;
        margin-top: 15px;
    }
    .content-nongtruong .item-nt .overlay .nav-images{
        position: inherit;
    }
    .main-detail-product .right{
        padding-top: 26px;
    }
    .nav-slider-detail{
        margin-top: 10px;
    }
    .nav-thuctap .item{
        width: 100%;
        margin-right: 0;
    }

    .main-contact h3.top-title1{
        font-size: 20px;
    }
    .hethongtruyxuat{
        padding-top: 27px;
    }
    .product-home{
        padding-top: 25px;
    }
    .nav-technology .item h4.title{
        height: auto;
    }
    .nav-technology{
        padding-bottom: 0;
    }
    .nav-slider-product ul li{
        width: 50%;
        padding:0;
    }
    .nav-slider-product ul li:first-child {
        width:100%;
    }
    .main-detail-product{
        margin-top: 13px;
    }
    .top-product{
        clear: both;
    }
    .top-tuyendung #style-1{
        height: auto;
    }
    .slider-qt .xemchitiet{
        width: 160px;
        height: 30px;
        line-height: 30px;
    }
    .slider-qt .owl-dots{
        bottom: -1px;
    }
    .slider-qt .item .nav-item{
        bottom: 0;
    }
    .slider-qt .item .nav-item{
        position: inherit;
    }
    .slider-qt  h2.title1{
        font-size: 20px;
        color: #333;
        line-height: 30px;
    }
    .slider-qt  h2.title1 a{
        color: #333; }
    .slider-qt p{
        color: #333;
    }
    .slider-qt .item .nav-item{
        padding-top: 15px;
    }
    .slider-qt h2.title1{
        padding-bottom: 0;
    }
    .slider-qt .owl-dots{
        display: none;
    }
    .slider-qt{
        padding-bottom: 10px;
    }
    .product-home .item-product{
        width: 100%;
    }
    .product-home{
        background-size: cover;
    }
    .product-home .desc-desc{
        padding-bottom: 0;
    }


    .tab-htpp .item-top{
        margin-top: 10px;
    }
    .khung-content {
        width: calc(100% - 20px);
        margin: auto;
        margin-top: 10px;
    }
    .content-info .khung-content{
        margin-top: 10px;
    }
    .content-nongtruong .item-nt .overlay .nav-images h3.title a{
        font-size: 19px;
    }
    #main-lienket .banner h2.title{
        font-size: 17px;
    }
}
@media only screen and (max-width: 375px){
    .banner h1.title{
        font-size: 18px;
    }
    .main-product >.container>.row>.col-md-3{
        width: 100%;
    }
    .quytrinhthuctap h2.title1{
        font-size: 25px;
        padding-bottom: 8px;
        margin-bottom: 10px;
    }
    h1.primary-title{
        font-size: 20px;
    }
    .content-new-detailt{
        padding-top: 20px;
    }
    .nav-content-item.top-content-new .right h3.title{
        font-size: 15px;
        line-height: 22px;
    }
    .product-home .item-product1:before{
        display: none;
    }
    .copy-right{
        font-size: 12px;
    }
    .quytrinhksoat h2.title1{
        line-height: 32px;
    }
    .item-product .item{
        width:auto;
        display:block;
        float:none;
    }
}
@media only screen and (max-width: 340px){
    .list-caterm .itemhightlight {
        width:160px;
    }
    .list-caterm {
        padding-left:160px;
    }
    .slider-top-product .owl-prev {
        left:-169px;
    }
}