/*==========================================================
	1. IMPORT FILES
==========================================================*/
/* Fonts */

/* Css */
@import url('../css/font-awesome.min.css');
@import url('../css/bootstrap.min.css');
/*@import url(fonts/stylesheet.css);*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700');
/*==========================================================
	2. GENERAL
==========================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
body{
    font-size: 14px;
    color: #757575;
    font-family: 'Asap', sans-serif;
    background: #fafafa;}
h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    color: #373737;

}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}
img{
    border:none;
    max-width:100%;
    height: auto;
}
a{
    color:#373737;
}
a:hover{
    color: #c9a96e;
    text-decoration:none;
}
a:focus{
    text-decoration: none;
    color: inherit;
    outline: none;
}
a,
button,
input {
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}
input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=search],
textarea {
    border: 1px solid #d5d5d5;
    padding: 8px 15px;
    font-size: 14px;
    color: #757575;
    border-radius: 0;
}
button,
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=search]:focus,
textarea:focus {
    border-color: #c9a96e;
    outline: none;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    border-color: #FCD998;
}

/*==========================================================
	3. ELEMENTS
==========================================================*/
.slider-top{
    position: relative;


}

.slider-top  .owl-nav{
    top:27%;
}
.slider-top .owl-prev{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.slider-top .owl-next{
    position: absolute;
    right: 0;
    top:50%;
    transform: translateY(-50%);
}
.owl-nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 100%;
}
.slider-top button{
    background: #fff;
    border: 0;
    font-size: 20px;
    padding: 0;
}
.slider-home .owl-dots{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
}

.slider-home .owl-dots .owl-dot{
    background: none;
    border:none;
    padding:0;
    margin:2px;
}
.slider-home .owl-dots .owl-dot span{

    width: 10px!important;
    height: 10px!important;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50%;
}
.slider-home .owl-dots .owl-dot.active span{
    background: #032f18;
}
.top-header{
    margin-top: 10px;
    height: 59px;
}
.top-title{
    background: #f5f6f5;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;

}
.top-title .right{
    text-align: right;
    position: relative;
}
.top-title .right ul{
    position: absolute;
    right: 0;
    background: #fff;
    z-index: 11;
    padding: 10px;
    top: 29px;
    width: 120px;
    text-align: left;
    background: #F5F6F5;
}
.top-title .right ul li{
    list-style: none;
}
.nav-vin{
    display: none;
}
.top-title .left img{
    padding-right: 7px;
    display: inline-block;
}
.top-title .left  p{
    color: #3a3a3a;
}
.top-title .right p{
    color: #233373;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
}
#header{
    background-color: #fff;
}
.memu-left ul li{
    display: inline-block;
    float: left;
    border-right: 2px solid #6fa78a;
    line-height: 12px;
}
.memu-left ul li a{
    font-size: 13px;
    color: #fff;
    padding: 6px 10px;
    margin: 0 2px;
    border-radius: 30px;
}
.memu-left ul li.active a{
    background: #fdc50c;
    padding: 6px 10px;
    margin: 0 2px;
    border-radius: 30px;
}
.memu-left ul li:hover a {
    background: #fdc50c;

}
.memu-left ul li:last-child a{
    border-right: 0;
}
.memu-left{
    display: inline-block;
    text-align: right;
    float: right;
    margin-top: 12px;
}
.main-menu .right .search input[type=text]{
    width: 100%;
    height: 34px;
    font-size: 13px;
    font-style: inherit;
    border-radius: 3px;
    background: #048746;
    border: 1px solid  #048746;
}
.main-menu .right .search input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #a9cbb7;
}
.main-menu .right .search input[type=text]::-moz-placeholder { /* Firefox 19+ */
    color: #a9cbb7;
}
.main-menu .right .search input[type=text]:-ms-input-placeholder { /* IE 10+ */
    color: #a9cbb7;
}
.main-menu .right .search input[type=text]:-moz-placeholder { /* Firefox 18- */
    color: #a9cbb7;
}
.main-menu .right .search{
    width: 79%;
    display: inline-block;
    float: left;
}
.main-menu .right .laguage{
    text-align: left;
    padding-left: 10px;
    height: 32px;
    line-height: 33px;
    border-radius: 2px;

}
.main-slider{
    position: relative;
}
.memu-left ul li:last-child{
    border-right: 0;
}
.laguage{
    float: right;
    width: 55px;

    background: #fff;

}
.laguage .ddChild {
    top: 20px;
    left: 0px;
    background: rgb(255, 255, 255);
    width: 55px;
    padding-left: 10px;
}
.main-menu{
    position: relative;
    /* top: 22px; */
    /* left: 0; */
    z-index: 1;
    display: inline-block;
    width: 100%;
    padding-top: 23px;

}
.laguage{
    position: relative;
}

.main-menu2 ul li{
    display: inline-block;
}
.main-menu2 ul li a{
    font-size: 14px;
    padding:7px 18px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 30px;

}

.main-menu2 ul{
    text-align: right;
}
.laguage ul li{
    list-style: none;
}
.main-slider .logo{
    position: absolute;
    z-index: 1;
    padding-top: 20px;
}
.main-menu2 {

    padding-top: 11px;

    left: 0;
    display: inline-block;
    width: 100%;
}
.posive-slider{
    position: absolute;
    top: 0;
    width: 100%;
}
h2.title1{
    font-family: 'Prata', serif;
    font-size: 30px;
    color: #222222;

}
.new-home{
    margin-top: 30px;
}
.new-home .nav-new-home h3.title2{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
.new-home .nav-new-home h3.title2 a{
    color: #fff;
}
.new-home .nav-new-home  p.date{
    font-style: italic;
    font-size: 12px;
    padding-top: 7px;
    color: #fff;
}
.nav-new-home .left{
    position: relative;
}
.nav-new-home .left img{
    width: 100%;
}
.nav-new-home .nav-images{
    position: absolute;
    bottom: 0;
    padding: 0 24px 15px 24px;

}
.new-home .nav-new-home{
    margin-top: 27px;
}
.clearfix{
    clear: both;
}
.nav-new-home .right .item-new .left1{
    width: 50%;
    display: inline-block;
    float: left;

}
.nav-new-home .right .item-new  .right1{
    width: 50%;
    display: inline-block;
    float: right;
    padding-left: 14px;
}
.nav-new-home .right .item-new  .right1 h3{
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    height: 15px*1.4*3; /* Fallback for non-webkit */
    margin: 0 auto;
    line-height:18px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nav-new-home .right .item-new {
    margin-bottom: 30px;
}
.nav-new-home .right .item-new  .right1 h3 a{
    font-size: 14px;
    color: #222;
}
.nav-new-home .right .item-new  .right1 .date{
    color: #b9b9b9;
    font-size: 12px;
    padding-top: 10px;
}
.nav-new-home .right .item-new .left1 img{
    width: 100%;
}
.product-home{
    text-align: center;
    background: url('images/bg1.png');
    background-size:100% 100%;
}
p.desc-desc{
    font-size: 14px;
    color: #919191;
}
.product-home{
    margin-top: 13px;
    padding-top: 53px;
    padding-bottom: 81px;
}
.product-home .desc-desc{
    padding-top: 7px;
    padding-bottom: 33px;
}
.product-home .item-product{
    background-image: url(images/bg-kfruits.png);
    background-position: center top;
    background-repeat: repeat-y;
    margin: auto;
    position: relative;
}
.product-home .item-product1{
    position: relative;
}
.product-home hr{
    width: 90%;
    height: 13px;
    background: #fff;
    padding-top: 0;
    margin-top: 0;
    border-top: 0;
}
.item-product h3.title1{
    background: url('../../images/bg-title.png') center;
    background-repeat: no-repeat;
}
.item-product .item .title1{
    font-family: 'Lobster', cursive;
    margin-top: -5px;
    height: 51px;
    position: relative;
    line-height: 63px;
    overflow: hidden;
}
.item-product .item .title1 a{
    font-size: 22px;
    color: #fff;
}
.list-fuproducts {
    letter-spacing:-0.3em;
    margin:0 -10px;
    text-align:left;
}
.list-fuproducts .item{
    width: 16.66%;
    padding:0 10px;
    display: inline-block;
    letter-spacing:normal;
    margin-bottom: 38px;
    vertical-align: bottom;
    text-align:center;
    height:210px;
    position:relative;
}
.list-fuproducts .item .title1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;;
}
.list-fuproducts .item .images {
    position:absolute;
    bottom:36px;
    left:10px;
    right:10px;
}
.list-fuproducts .item .images .status {
    position: absolute;
    top: 0;
    right: 10px;
    display:block;
    width:40px;
}
/*cĂ´ng nghá»‡*/
.technology-home{
    background: url('../../images/bg-cn.png');
    text-align: center;
    background-repeat: no-repeat;
    padding-top: 52px;
    background-size: cover;
}
.technology-home h2.title1{
    color: #fff;
}
.technology-home .desc-desc{
    color: #fff;
}
.nav-technology .item:nth-child(6){
    margin-right: 0;
}
.nav-technology .item h4.title{
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    padding: 20px;
    line-height: 23px;
    line-height: 23px;
    height: 91px;
    overflow: hidden;

}
.nav-technology {
    margin-top: 35px;
    padding-bottom: 83px;
}
.product-home>.item-product>.container{
    width: calc(100% - 460px);
    margin:auto;
}
/*Ä‘á»“ng hĂ nh*/
.donghanh{
    text-align: center;
    margin-top: 47px;
}
.donghanh .item{
    background: url('images/dh1.png');
    border-radius: 4px;
    background-repeat: no-repeat;
}
.donghanh .item img {
    width:auto;
    margin:0 auto;
}
.donghanh h2.title1{
    color: #555;
}
.donghanh  .desc-desc{
    color: #666666;
    padding-top: 10px;
}
.donghanh  .nav-donghanh h4{
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;

    height: 15px*1.4*2; /* Fallback for non-webkit */
    margin: 0 auto;
    line-height: 1.4;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    padding-top: 9px;
    height: 47px;
}
.donghanh  .nav-donghanh .icon{
    padding-top: 17px;
}
.donghanh  .nav-donghanh .desc1{
    font-size: 13px;
    color: #91741c;
    padding-top: 10px;
    padding-bottom: 11px;
}
.donghanh  .nav-donghanh{
    margin-top: 42px;
}
/*nĂ´ng trÆ°á»ng*/
.nongtruong{
    background: url('../../images/bg3.png');
    padding-top: 55px;
    margin-top: 40px;
    background-size: cover;
    padding-bottom: 19px;

}
.nongtruong h2{
    color: #fff;
    padding-bottom: 22px;
    font-family: 'Lobster', cursive;
}
.nongtruong p{
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    padding-bottom: 26px;
}
.chon{
    position: relative;
    margin-top: 40px;
    padding-bottom: 30px;
}
.chon select{
    width: 100%;
    height: 58px;
    background: #e9e9e9;
    border-radius: 3px;
    padding-left: 56px;


}
.chon .icon-adress{
    position: absolute;
    top: 17px;
    left: 24px;
}
.nongtruong .left{
    padding-top: 50px;
}
.slider-doitac .owl-prev{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    background: #fff;
    border: 1px solid #fff;

}
.slider-doitac .owl-next{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    background: #fff;
    border: 1px solid #fff;

}
.date{
    color: #b9b9b9;
    font-size: 12px;
    font-style: italic;
}
.doitac h2.title2{
    color: #555555;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 10px
}
.slider-doitac .item{
    text-align: center;
}
.slider-doitac img{
    width: auto!important;

    display: inline-block;
}
.slider-doitac .item a{

    display: inline-block;

    position: relative;
}
.slider-doitac .item a:before{
    content: '';
    position: absolute;
    width: 1px;
    height: 35px;
    background: #ddd;
    top: 19px;
    right: -32px;
    z-index: 1;
}
#footer{
    background: #f5f6f5;
    border-top: 1px solid #eff0ef;
    padding-top: 30px;
}
.top-footer{
    padding-top: 33px;
}
.top-footer .item .icon{
    width: 12%;
    display: inline-block;
    float: left;
}
.slider-doitac{
    margin-bottom: 30px;
}
.top-footer .item .icon .fa{
    background: #888888;
    width: 37px;
    height: 37px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    line-height: 37px;
    border-radius: 50%;

}
.top-footer .item .noidung{
    width: 88%;
    display: inline-block;
    float: right;
    font-size: 13px;
    color: #888888;
}
.top-footer .item .noidung.nd-phone{
    font-size: 21px;
    font-weight: bold;
    padding-left: 16px;
    padding-top: 4px;
}

.footer-botton .dangtin h3{
    font-weight: bold;
    color: #888888;
    margin-bottom: 10px;
}
.footer-botton .nav-dangky input[type=text]{
    height: 57px;
    width: 100%;

    background: #e9e9e9;
    border-radius: 3px;
    border: 1px solid #e9e9e9;
}
.footer-botton .nav-dangky{
    position: relative;
}
.footer-botton .nav-dangky input[type=submit]{
    font-size: 0;
    width: 57px;
    height: 57px;
    position: absolute;
    right: 0;
    top: 0;
    background: #009d54;
    border: 1px solid #009d54;
    z-index: 2;
}
.footer-botton .icon-dangky{
    position: absolute;
    right: 5px;
    top: 15px;
    z-index: 4;
}
.footer-botton{
    margin-top: 28px;
}
.footer-botton .share{
    margin-top: 20px;
}
.footer-botton .share h4{
    color: #b7b7b7;
    font-size: 14px;
}
.footer-botton .share ul li{
    display: inline-block;
    margin-right: 5px;
}
.footer-botton .share ul{
    margin-top: 14px;
}
.footer-botton  h3.title{
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
}
.footer-botton  .nav-item1 ul li{
    width: calc((100% - 20px) / 2);
    margin-right: 20px;
    display: inline-block;
    float: left;
    padding-bottom: 5px;
}
.footer-botton  .nav-item1 ul li:nth-child(2n){
    margin-right: 0;
}
.footer-botton  .nav-item1 ul li a{
    color: #666666;
    font-size: 13px;
}
.footer-botton  .nav-item2 ul li{
    width: 100%;
    margin-right: 0;
}
.footer-botton  .nav-item2 ul li img{
    padding-right: 5px;
}
.copy-right{
    border-top: 1px solid #c0c0c0;
    color: #c0c0c0;
    font-size: 14px;
    text-align: right;
    margin-top: 24px;
    height: 38px;
    line-height: 38px;
}
/*gioi thieu*/
.top-content-page_in{
    background: #007b42;
    padding-top: 22px;
    padding-bottom: 22px;
}
.top-content-page_in .main-menu{
    padding-top: 5px;
}
.top-info .item .left{
    width: 36px;
    height: 36px;
    border-radius: 50px;
    background: #898989;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    vertical-align: middle;
}
.top-info .item .left img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.top-info .item .right{
    display: inline-block;
    padding-top: 6px;
}
.top-info .item .right span{
    color: #555555;
    font-size: 18px;
}
.top-info{
    padding-top: 24px;
    padding-bottom: 15px;
    background: #f5f6f5;
}
.banner{
    position: relative;
    overflow: hidden;
}
.banner .nav-title{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.banner .nav-title h2 {
    color:#fff;
}
#countries_msdd {
    width:auto !Important;
}
.banner h1.title{
    font-family: 'Lobster', cursive;

    color: #fff;
    font-size: 60px;

}
.banner p.desc{
    font-size: 16px;
    color: #fff;
    padding-top: 10px;

}
.content-info .khung-content{
    width: 840px;
    margin:auto;
    padding: 45px;
}
.content-info .khung-content p{
    color: #666666;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 15px;
}
.nav-title-donghanh h1{
    font-size: 63px;
    font-family: 'Lobster', cursive;
    color: #fff;
}
.nav-title-donghanh h2{
    font-size: 40px;
    font-family: 'Prata', serif;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 10px;
}
.nav-title-donghanh p{
    font-size: 14px;
    color: #fff;
    padding-right: 45%;
}
.nav-title-donghanh{
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
.top-dinghanh .images{
    margin-top: -80px;
}
.top-dinghanh  .nav-images{
    padding-top: 97px;
    font-size: 16px;
}
.top-dinghanh  .nav-images p{
    padding-bottom: 15px;
}

.grid-dh>.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.grid-dh  .col-xs-2{
    padding-left: 0;
    padding-right: 0;
}
.grid-dh>.container-fluid .row{
    margin-left: 0;
    margin-right: 0;
}
.grid-dh .col-xs-4{
    padding-left: 0;
    padding-right: 0;
}
.grid-dh .col-xs-5{
    padding-left: 0;
    padding-right: 0;
}

.grid-dh .grid .item1{
    width: 33%;
}
.grid-dh .grid .item2{
    width: 10%;
}
.grid-dh .grid  img{
    width: 100%;
}
.content-congnghe .item h3.title1{
    font-size: 15px;
    font-weight: bold;
    height: 57px;
    line-height: 18px;
    overflow: hidden;

}
.content-congnghe .item .images{
    position: relative;
}
.content-congnghe .item  .icon-cn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content-congnghe .item {
    text-align: center;
}
.content-congnghe h3.title1{
    padding: 15px 0 8px 0;
}
.content-congnghe .item .desc{
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    height: 15px*1.4*2; /* Fallback for non-webkit */
    margin: 0 auto;
    line-height: 1.4;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content-congnghe .nav-images{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 11px;
    background: #fff;
    border-radius: 3px;
}
.content-congnghe .item{
    margin-bottom: 30px;
}
.content-congnghe{
    margin-top: 37px;
    margin-bottom: 13px;
}
.page-in-nongtruong .nongtruong{
    margin-top: 0;
}
.content-nongtruong .item-nt{
    position: relative;
}
.content-nongtruong .item-nt .overlay{
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    z-index: 2;
    /*  opacity: 0.7;*/
    cursor: pointer;
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    bottom:0;
}
.content-nongtruong .item-nt .overlay .nav-images h3.title a{
    font-weight: 600;
    font-size: 30px;
    color: #fff;
}
.content-nongtruong .item-nt .overlay .nav-images .adress{
    font-size: 14px;
    color: #fff;
    padding-top: 4px;
    padding-bottom: 6px;
}
.content-nongtruong .item-nt .overlay .nav-images .adress img{
    padding-right: 5px;
}
.content-nongtruong .item-nt .overlay .nav-images p.desc{
    font-size: 14px;
    color: #fff;
}
.content-nongtruong .item-nt .overlay .nav-images{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 36px 54px 43px;
}
.content-nongtruong .item-nt .overlay .nav-images .xemchitiet a{
    width: 174px;
    height: 38px;
    display: inline-block;
    background: #1d7d56;
    display: inline-block;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    line-height: 38px;
    font-size: 18px;
    float: right;
    margin-top: 61px;
}
.content-nongtruong .item-nt{
    margin-bottom: 28px;
}
.content-nongtruong {
    margin-top: 38px;
}
.map-detail-nongtruong .map iframe{
    width: 100%;
    height: 812px;

    margin-bottom: 20px;
}
h1.primary-title{
    font-family: 'Lobster', cursive;
    font-size: 35px;
    color: #222222;
}
.content-new-detailt .date-detailt .left{
    display: inline-block;
    margin-right: 30px;
}
.content-new-detailt .date-detailt .right{
    display: inline-block;
}
.content-new-detailt .date-detailt{
    padding:10px 0 15px 0;
}
.content-new-detailt .date-detailt .left .date{
    font-size: 12px;
    color: #bebebe;
    font-style: italic;
    line-height: 23px;
}
.tinlienquan h2{
    font-size: 24px;
    color: #555555;
    position: relative;
    padding-left: 20px;
    padding-top: 4px;
    border-bottom: 1px solid #dedede;
    padding-bottom: 21px;
    margin-bottom: 6px;

}
.tinlienquan h2:before{
    width: 7px;
    height: 31px;
    content: '';
    position: absolute;
    top:0;
    left: 0;
    background: #a44643;
}
.tinlienquan ul li a{
    color: #555;
    font-size: 16px;
    font-weight: 600;
}
.tinlienquan ul li{
    border-bottom: 1px solid #dedede;
    padding:12px 0;
    list-style: none;
}
.sear-nav-title  .sear-nav-title1{
    position: relative;
}
.sear-nav-title  .sear-nav-title1 img{
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 17px;
}
.sear-nav-title input[type=text]{
    width: 557px;
    height: 53px;
    border-radius: 3px;
}
.sear-nav-title .sear-nav-title2{
    margin-top: 5px;
}
.sear-nav-title .sear-nav-title2 a{
    width: 277px;
    height: 43px;
    display: inline-block;
    background: red;
    border-radius: 3px;
    font-size: 16px;
    text-align:center;
    line-height: 43px;
}
.sear-nav-title .sear-nav-title2 a.link-hethong{
    background: #009d54;
    color: #fff;
}
.sear-nav-title .sear-nav-title2 a.link-lich{
    background: #ffc20b;
    color: #000;
}
.doitac{
    background: #fff;
}
.slider-top-product .item-tabs {
    text-align: center;
    position:relative;
    padding:0 30px;
}
.slider-top-product .item-tabs .images,
.list-caterm .itemhightlight .images {
    height:54px;
}
.slider-top-product img{
    width: auto!important;
    display: inline-block!important;
    max-height:100%;
}
.slider-top-product .item-tabs:after,
.list-caterm .itemhightlight:after{
    border-right: 1px solid #ddd;
    position:absolute;
    top:25px;
    right:0;
    content:"";
    height:46px;
}
.slider-top-product .item-tabs h4.title,
.list-caterm .itemhightlight h4.title{
    font-size: 15px;
    font-weight: 600;
    padding-top: 5px;
}
.top-product{
    background: #fff;
    padding-top: 26px;
}
.slider-top-product  .owl-prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    border: 0;
    left: -200px;
    height: 62px;
}
.slider-top-product  .owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    border: 0;
    right:0;
    height: 62px;
}
.main-product .col-md-3:nth-child(4n+5){
    clear: both;
}
.main-product .item h3.title{
    font-size: 21px;
    color: #222;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 42px;
    line-height: 27px;
    min-height: 97px;
    overflow: hidden;
}
.nav-slider-product .tab-content {
    margin-top: 19px;
}
.main-product .item{
    text-align: center;
    text-align: center;
    background:#fff;
    padding: 20px;

}
.main-product .item .maso{
    color: #999999;
    font-size: 13px;
    border-bottom: 1px solid #999999;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
}
.date1 .fa{
    padding-right: 7px;
    color: #000;
}
.main-product .item {
    margin-bottom: 30px;

}
.main-product{
    margin-top: 25px;
    margin-bottom: 47px;
}
.slider-top-product  .item-hover{
    position: absolute;
    background: red;
    top: 0px;
    left: 0;
    width: 100%;
    height: 45px;
}
.slider-top-product   .item-hover ul li{
    display: inline-block;
}
.slider-top-product .item-tabs a{
    display: inline-block;
    width: 100%;
}
/*.slider-top-product  .owl-item{
	position: static!important;
}*/
.nav-slider-product{
    background: #e6e6e6;
    height: 50px;
    line-height: 50px;
}
.nav-slider-product ul li{
    display: inline-block;
    padding:12px 10px;
}
.nav-slider-product ul li a{
    font-size: 15px;
    color: #222;
    padding:1px 12px;
    color: #000 !Important;
    border-radius: 15px;
}
.nav-tabs{
    border-bottom: 0;
}
.slider-top-product .onactive a h4{
    color: #009d54;
}

.nav-slider-product .tab-content  li.active a{
    background: #ffc20e;
}
.nav-slider-product .tab-content  li.active a:before{
    content: url('images/arrow.png');
    position: absolute;
    top:-27px;
    left: 50%;
    transform: translateX(-50%);
    display:none;
}
.top-content-new .right{
    padding-left: 12px;
}
.top-content-new .right h3.title{
    font-family: 'Prata', serif;
    font-size: 35px;
}
.top-content-new .right h3.title a{
    color: #222222;
}
.top-content-new .right .date{
    color: #b9b9b9;
    font-size: 12px;
    font-style: italic;
    padding:10px 0 22px 0;
}
.top-content-new .right  .desc{
    color: #b3b3b3;
    font-size: 14px;
    font-style: italic;
}
.top-content-new{
    margin-top: 44px;
}
.nav-content-item.top-content-new .right h3.title{
    font-size: 25px;
}
.nav-content-item.top-content-new .right {
    padding-left: 0;
}
.nav-content-item > .item>.row >.col-md-4{
    width: 29%;
    display: inline-block;
    float: left;
    padding-left: 0;
    padding-right: 0;
}
.nav-content-item > .item>.row{
    margin-left: 0;
    margin-right: 0;
}
.nav-content-item > .item>.row >.col-md-8{
    width: 71%;
    display: inline-block;
    float: left;
    padding-left: 57px;
    padding-right: 0;
}
.nav-content-item > .item{
    border-top: 1px solid #ededed;
    padding-top: 26px;
    margin-bottom: 26px;
}
.nav-content-item.top-content-new .right .date{
    padding: 10px 0 3px 0;
}
.pagenavi ul li{
    display: inline-block;
    margin:7px;
}
.pagenavi ul li a{
    font-size: 18px;
    font-weight: 600;
    padding:3px 7px;
}
.pagenavi ul li:first-child a{
    background: #e9edf8;
}
.pagenavi ul li:last-child a{
    background: #e9edf8;
}
.pagenavi ul li.active a{
    color: #00795d;
    border-bottom: 3px solid #00795d;
}
.pagenavi ul{
    text-align: center;
    padding-top: 38px;
    padding-bottom: 54px;

}
.main-contact{
    padding-top: 43px;
    background: #fff;
    padding-bottom: 43px;
}
.main-contact h3.top-title1{
    font-size: 25px;
    font-family: 'Prata', serif;
    color: #222;
    border-bottom: 1px solid #ededed;
    padding-bottom: 20px;
    margin-bottom: 23px;
}
.main-contact  label{
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    width: 100%;
    width: 100%;
    color: #000;
}
.map{
    position: relative;
}
#map_canvas{
    height: 772px;
}
.grid-grid .box16 img{
    width: 100%;
    height: 100%;
}

.main-contact .item-contact {
    width: calc((100% - 13px ) / 2);
    margin-right: 13px;
    display: inline-block;
    float: left;
    margin-bottom: 19px;
}
.main-contact .item-contactlast {
    margin-top:5px;
}
.main-contact .item-contact:nth-child(2n){
    margin-right: 0;
}
.main-contact .item-contact input[type=text]{
    width: 100%;
    height: 44px;
    border-radius: 4px;
    padding-left: 30px;

}
.main-contact .item-contact .input{
    position: relative;
    margin-top: 8px;
}
.main-contact .item-contact .input .fa{
    position: absolute;
    top: 13px;
    left: 13px;
}
.nav-left .item-nd textarea{
    width: 100%;
    height: 114px;
    margin-top: 12px;
    border-radius: 4px;
}
.nav-left .guilienhe input[type=submit]{
    height: 55px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    background: #00795d;
    border-radius: 4px;
    line-height: 55px;
    width: 100%;
    text-align: center;
    color: #fff;
    border:1px solid #00795d;
}
.main-contact .nav-right .icon{
    width: 13%;
    display: inline-block;
    float: left;
    padding-top: 4px;
}
.main-contact .nav-right .nav-icon{
    width: 87%;
    display: inline-block;
    float: right;
    /*padding-left: 42px;*/
}
.main-contact .nav-right .nav-icon ul li{
    font-size: 16px;
    color: #888888;
    list-style: none;
}
.main-contact .nav-right .nav-icon ul li span{
    padding-left: 15px;
    font-weight: 600;
}
.main-contact  .dowload{
    padding-top: 45px;
}
.main-contact  .dowload h4{
    font-size: 16px;
    color: #222222;
}
.dowload .nav-dl {
    margin-top: 10px;
}
.dowload .nav-dl .chon{
    width: 68%;
    display: inline-block;
    float: left;

}
.dowload .nav-dl .click-dl{
    width: 31%;
    display: inline-block;
    float: right;
    height: 45px;
    /*width: 108px;*/
    background: #ffc312;
    text-align: center;
    line-height: 45px;
    border-radius: 4px;
}
.dowload .nav-dl .chon select{
    width:100%;
    height: 45px;
    padding-left: 10px;
    border-radius: 3px;

}
.mang-xh h4{
    padding:18px 0 22px 0;
}
#main-lienket .banner h2.title{
    font-family: 'Prata', serif;
    font-size: 40px;
}
#main-lienket .banner .nav-title{
    top:43%;
}
.top-lienket .item {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    -webkit-box-shadow: -1px 1px 25px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 25px -8px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 25px -8px rgba(0,0,0,0.75);
}
.top-lienket .item .desc{
    font-size: 16px;
    line-height: 26px;
    color: #737373;
    padding-top: 57px;
}
.top-lienket .item{
    position: relative;
}
.top-lienket .item .con{
    width: 100px;
    height: 100px;

    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    border: 3px solid #fff;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}
.top-lienket .item .con span{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 30px;

    color: #fff;
}
.top-lienket .col-md-4:first-child .con{
    background: #007b42;
}
.top-lienket .col-md-4:nth-child(2) .con{
    background: #ffc312;
}
.top-lienket .col-md-4:nth-child(3) .con{
    background: #d13138;
}
.top-lienket {
    margin-top: -134px;
    background: #fff;
    padding-bottom: 63px;
}
.nav-content-link p.desc{
    font-size: 16px;
    line-height: 24px;
    padding-left: 77px;
    padding-right: 77px;
    text-align: center;
    padding-top: 60px;
}
.hoptackinhdoanh{
    background: #f5f5f5;
    text-align: center;
    padding-bottom: 67px;
}
.hoptackinhdoanh h2.title1{
    font-size: 40px;
}
.hoptackinhdoanh>.container>.row{
    margin-left: 0;
    margin-right: 0;
}
.hoptackinhdoanh>.container>.row>.col-md-3{
    padding-left: 0;
    padding-right: 0;
}
.nav-hoptackinhdoanh .item{
    position: relative;
    overflow: hidden;
}
.nav-hoptackinhdoanh .images:before{
    content: url('images/rec2.png');
    bottom: -8px;
    left: 0;
    position: absolute;
    z-index:1;
}
.overlay-kd{
    background: #007b42;
    padding: 37px 26px 20px 26px;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}
.nav-hoptackinhdoanh .item:hover .overlay-kd{
    height: 100%;
    visibility: visible;
    opacity: 1;

}
.overlay-kd p.desc{
    font-size: 14px;
    color: #fff;
    text-align: justify;
    border-bottom: 1px solid #4da37b;
    padding-bottom: 24px;
    margin-bottom: 26px;
    line-height: 18px;
}
.overlay-kd .logo-hp span{
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    padding-top: 24px;
    display: inline-block;
}
.overlay-kd .logo-hp img{
    display: inline-block;
    float: left;
}
.logo-hp1{
    position: absolute;
    bottom: 42px;
    left: 26px;
    z-index:2;
}
.logo-hp1 img{
    float: left;
}
.logo-hp1 span{
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    padding-top: 24px;
    display: inline-block;
    padding-left: 19px;
}
.nav-hoptackinhdoanh >.row{
    margin-left: 0;
    margin-right: 0;
}
.nav-hoptackinhdoanh >.row >.col-md-3{
    padding-left: 0;
    padding-right: 0;
}
.nav-hoptackinhdoanh .owl-item:nth-child(2n) .overlay-kd{
    background: #AD8307;
}
.nav-hoptackinhdoanh .owl-item:nth-child(2n) .overlay-kd .desc{
    border-bottom: 1px solid #AD8307;
}
.nav-hoptackinhdoanh .owl-item:nth-child(2n) .images:before {
    content: url('images/rec1.png');
}
.nav-hoptackinhdoanh >.row{
    margin-left: 0;
    margin-right: 0;
}
.nav-hoptackinhdoanh >.row >.col-md-3{
    padding-left: 0;
    padding-right: 0;
}
.nav-hoptackinhdoanh >.row >.col-md-3:nth-child(2n) .overlay-kd,
.nav-hoptackinhdoanh >.row:nth-child(2n) .overlay-kd{
    background: #AD8307;
}
.nav-hoptackinhdoanh >.row >.col-md-3:nth-child(2n) .overlay-kd .desc,
.nav-hoptackinhdoanh >.row:nth-child(2n) .overlay-kd .desc{
    border-bottom: 1px solid #AD8307;
}
.nav-hoptackinhdoanh >.row >.col-md-3:nth-child(2n) .images:before {
    content: url('images/rec1.png');
}
.nav-hoptackinhdoanh >.row:nth-child(2n) >.col-md-3 .images:before {
    content: url('images/rec1.png');
}
.nav-hoptackinhdoanh >.row:nth-child(2n) >.col-md-3:nth-child(2n) .images:before {
    content: url('images/rec2.png');
}
.nav-hoptackinhdoanh >.row:nth-child(2n)  >.col-md-3:nth-child(2n) .desc {
    border-color:#4da37b;
}
.nav-hoptackinhdoanh >.row:nth-child(2n)  >.col-md-3:nth-child(2n) .overlay-kd {
    background: #007b42;
}
.hoptackinhdoanh h2.title1{
    margin:50px 0 25px;
    color:#555555;
    font-size:40px;
}
.hoptackinhdoanh h2.title1.titlesmall {
    font-size:25px;
}
.top-ksoat {
    padding-top: 70px;
    background: #fff;
    padding-bottom: 110px;
}
.top-ksoat h2.title1{
    font-size: 40px;
    padding-bottom: 26px;
    text-align: center;
    color: #555;
}
.nav-top-ksoat h3{
    font-size: 18px;
    font-weight: bold;
    font-family: roboto;
    padding: 33px 0 28px 0;

}
.nav-top-ksoat .item{
    text-align: center;
}
.nav-top-ksoat .item img {
    width:auto;
    margin: 0 auto;
}
.nav-top-ksoat p.desc{
    font-size: 16px;
    text-align: justify;
    padding: 0 10px;
    line-height: 27px;
}
.quytrinhksoat{
    background: url('images/bg4.png') ;
    background-repeat: no-repeat;
}
.quytrinhksoat h2.title1{
    padding: 128px 20px 74px 20px;
    color: #fff;
    font-size: 40px;
    line-height: 57px;
}
.quytrinhksoat .right ul li{
    color: #fff;
    font-size: 14px;
    padding-bottom: 34px;
    color:#fff;
    position: relative;
    margin-left: 50px;
    list-style: none;
}
.quytrinhksoat .right ul li:before{
    content: url('images/icon5.png');
    position: absolute;
    top:10px;
    left: -50px;
}
.quytrinhksoat .right{
    padding-top: 130px;
    padding-bottom: 37px;
}
.hethongtruyxuat h3.title{
    color: #222;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 16px;
}
.hethongtruyxuat p.desc{
    color: #8d8d8d;
    font-size: 16px;

}
.hethongtruyxuat h2.title1{
    text-align: center;
    padding-bottom: 65px;
}
.hethongtruyxuat{
    padding-top: 70px;
    background: #fff;
    padding-bottom: 100px;
}
.hethongtruyxuat .left{
    padding-top: 175px;
}
.hethongtruyxuat .right{
    padding-top: 49px;
}
.hethongtruyxuat .right .item1{
    padding-bottom: 100px;
}
.tab-htpp ul li a{
    padding: 0 50px;
    height: 64px;
    text-align: center;
    background: #f5f6f5;
    border: 0;
    font-size: 18px;
    color: #555555;
    line-height: 64px;


}
.top-content-htpp{
    background: #f5f6f5;
    padding-top: 18px;
}
.banhangdoanhnghiep a{
    display: inline-block;
    width: 283px;
    height: 43px;
    background: #d13138;
    line-height: 43px;
    text-align: center;
    border-radius: 71px;
    float: right;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-top: 2px;
}

.tab-htpp ul li.active a{
    background: #ffc312!important;
    color: #222222!important;
    border-radius: 3px 3px 0 0 !important;
    font-weight: bold;

}
.tab-htpp .nav-top-htpp .tab-pane{
    background: #ffc312;
    padding:35px 0 0;
    color:#000;
}
.tab-htpp .item-top label{
    font-size: 16px;
    padding-bottom: 6px;
    font-weight: 400;
    color: #222;
}
.tab-htpp .item-top input[type=text]{
    width: 100%;
    height: 44px;
    border: 1px solid #c2c2c2;
    border-radius: 4px;
    background: #fff;

}
.tab-htpp .item-top-search input[type=submit]{
    background: #1d7e41;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    height: 45px;
    margin-top: 6px;
    border: 1px solid #c2c2c2;
    border-radius: 4px;
}
.nav-top-htpp .row{
    margin-left: -5px;
    margin-right: -5px;
}
.nav-top-htpp .row .col-md-3{
    padding-left: 5px;
    padding-right: 5px;
}

/*
*  STYLE 1
*/
#style-1{
    height: 678px;
    overflow: auto;
}
#style-1::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.content-htpp .left p.result{
    font-size: 23px;
    color: #3d2526;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 24px;
    padding-bottom: 17px;
    padding-left: 23px;
    font-weight: bold;
}
.content-htpp .left{
    background: #f5f5f5;
}
.content-htpp  p.result span{
    color: #b70712;
    padding-right: 3px;
}
.content-htpp{
    background: #fff;
    padding-bottom: 53px;
}
.content-htpp .item1 h4{
    font-size: 18px;
    color: #32312e;
    text-transform: uppercase;
    padding-bottom: 3px;
    position: relative;
    padding-left: 42px;
    font-weight: 600;

}
.content-htpp  .item1 h4:before{
    content: url('images/adress2.png');
    position: absolute;
    top:0;
    left: 0;
}
.content-htpp .item-item{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

}
.content-htpp .left .item1{
    border-bottom: 1px dashed #a6a6a6;
    padding-bottom: 10px;
    margin-bottom: 23px;
    cursor: pointer;
}
.content-htpp .left .item1 p{
    font-size: 20px;
    color: #27354a;
    padding-left: 42px;
}
.content-htpp .right iframe{
    width: 100%;
    height: 774px;
}
.content-htpp .row{
    margin-left: -1px;
    margin-right: -1px;
}
.content-htpp .row .col-md-4{
    padding-left: 1px;
    padding-right: 1px;
}
.content-htpp .row .col-md-8{
    padding-left: 1px;
    padding-right: 1px;
}
.nav-slider-detail  a{
    display: block;
    border: 2px solid #e0e0e0;
    border-radius: 4px;
    height: 77px;
    overflow: hidden;
    position: relative;
    background-position:center center;
    background-size:85% auto;
    background-repeat:no-repeat;
}
.nav-slider-detail .onactive a {
    border-color:#00795d;
}
.nav-slider-detail {
    margin-top: 15px;
}
.slider-top .owl-item{

    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;

}
.slider-top .owl-item.center{
    width: 127.545px!important;

    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}
.main-detail-product .right{
    background: #f3f3f3;
    padding: 49px 47px;
    border-radius: 12px;
}
.main-detail-product .right h3{
    color: #222;
    font-size: 21px;
    font-weight: 600;
    text-transform: uppercase;
}
.main-detail-product .right p.ngaysx {
    color: #007b42;
    font-size: 14px;
    font-weight: bold;
    padding-top: 15px;
}
.main-detail-product .right p.ngaysx .mavach{
    /*padding-left: 25px;*/
}
.main-detail-product .right .desc{
    font-size: 14px;
    color: #444444;
    margin-bottom:15px;
}
.main-detail-product .right .content-right{
    padding-top: 21px;
}
.main-detail-product .timcuahnag{
    width: 275px;
    height: 46px;
    display: inline-block;
    background: #00795d;
    color: #fff;
    border-radius: 22px;
    text-align: center;
    line-height: 46px;
    margin-top: 29px;
}
.main-detail-product{
    padding:50px 0;
    background:#fff;
}
#modal-quotation h4.modal-title{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 8px;
}
#modal-quotation .modal-header{
    border-bottom: 0;
}
#modal-quotation .main-contact{
    padding-top: 0;
    background: #f1f1f1;
}
#modal-quotation  .modal-content{
    background: #f1f1f1!important;
}
#modal-quotation input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #dbdbdb;
}
#modal-quotation input[type=text]::-moz-placeholder { /* Firefox 19+ */
    color: #dbdbdb;
}
#modal-quotation input[type=text]:-ms-input-placeholder { /* IE 10+ */
    color: #dbdbdb;
}
#modal-quotation input[type=text]:-moz-placeholder { /* Firefox 18- */
    color: #dbdbdb;
}
#modal-quotation .close{
    margin-top: 0;

    position: absolute;
    z-index: 11;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    right: -13px;
    top: -15px;
    opacity: 1;
    border-radius: 50%;
    border: 1px solid #fff;
}
#modal-quotation .close span{
    color: #fff;

    display: inline-block;
    background: #000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 25px;

}
#modal-quotation  .modal-lg{
    width: 727px;
}
.slider-top .owl-prev{
    background: none!important;
}
.slider-top .owl-next{
    background: none!important;
}
.top-tuyendung h2.title1{
    font-size: 40px;
    color: #555555;
}
.images-tuyendung{
    padding-top: 22px;
    text-align: center;
}
.top-tuyendung .content-htpp  .item1 h4:before{
    content: url('images/icon-td.png');
    position: absolute;
    top:0;
    left: 0;
}
.top-tuyendung .content-htpp .item1 h4{
    font-size: 20px;
    text-transform: inherit;
    font-weight: bold;
    padding-left: 63px;
}
.top-tuyendung .content-htpp .item1 p{
    padding-bottom: 3px;
    padding-left: 63px;
}
.top-tuyendung .content-htpp .item1{
    border-bottom: 1px solid #dadada;
    padding-bottom: 17px;
    margin-bottom: 25px;
}
.top-tuyendung #style-1{
    height: 490px;
    overflow: auto;
}
.main-tuyendung {
    background: #fff;
}
.top-tuyendung{
    margin-top: 60px;
}
.quytrinhtuyen{
    background: url('images/qttd.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center center;
}
.quytrinhtuyen{
    text-align: center;
}
.quytrinhtuyen h2.title1{
    padding-top: 100px;
    padding-bottom: 10px;
    font-size: 40px;
}
.nav-quytrinh{
    background: url('images/bg5.png') top center;
    width: 969px;

    margin: auto;
    background-repeat: no-repeat;
    margin-top: 45px;
}
.nav-quytrinh .item{
    width: 190px;
    display: inline-block;
    float: left;
}

.nav-quytrinh .item .stt{
    font-family: roboto;
    font-size: 125px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    margin-left:38px;
}
.nav-quytrinh .item:first-child .stt {
    margin-left:0;
}
.nav-quytrinh .item .icon{
    padding-top: 31px;
    padding-bottom: 23px;
    min-height:145px;
    margin-left:53px;
}
.nav-quytrinh .item:first-child .icon {
    margin-left:0;
}
.nav-quytrinh .item  h3{
    font-size: 19px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 61px;
}
.nav-quytrinh .item  .desc{
    font-size: 16px;
    color: #222;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 17px;
}
.nav-quytrinh .item:nth-child(2){
    width: 187px;
}
.nav-quytrinh .item:nth-child(3){
    width: 182px;
}
.nav-quytrinh .item:nth-child(4){
    width: 185px;
}
.nav-quytrinh .item:nth-child(5){
    width: 185px;
}
/*.nav-quytrinh .item:nth-child(3){
	padding-right: 30px;
}
.nav-quytrinh .item:nth-child(4){
	padding-right: 45px;
}
.nav-quytrinh .item:nth-child(5){
	padding-right: 45px;
}
.nav-quytrinh .item:nth-child(3) .desc{
	padding-left: 0;
}
.nav-quytrinh .item:nth-child(4) .desc{
	padding-left: 0;
}
.nav-quytrinh .item:nth-child(5) .desc{
	padding-left: 0;
}*/
.nav-quytrinh{
    padding-bottom: 180px;
    margin-top: 45px;
}
.quytrinhthuctap h3.title1{
    font-size: 40px;
    text-align: center;
}
.nav-quytrinh .item2 h3{
    color: #5dc1c9;
}
.nav-quytrinh .item3 h3{
    color: #2e9fcb;
}
.nav-quytrinh .item4 h3{
    color: #e4b54d;
}
.nav-quytrinh .item5 h3{
    color: #dd5d65;
}
.nav-thuctap .item{
    width: calc((100% - 75px) / 4);
    margin-right: 25px;
    position: relative;
    display: inline-block;
    float: left;
}
.nav-thuctap .item:nth-child(2n) .desc{
    padding-top:20px;
}
.nav-thuctap .item:nth-child(4){
    margin-right: 0;
}
.nav-thuctap .item h2{
    width: 195px;
    height: 67px;
    background: #00695c;
    display: inline-block;
    text-align: center;
    font-size: 19px;
    line-height: 67px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 18px;
    font-weight: 600;
    position: absolute;
    top: -27px;
    left: 8%;
}
.nav-thuctap .item .desc{
    width: 193px;
    height: 189px;
    border: 10px solid #00695c;
    border-radius: 31px;
    text-align: center;
    padding-top: 51px;
    padding-left: 20px;
    padding-right: 20px;
}
.nav-thuctap{
    width: 960px;
    margin:auto;
    padding-top: 231px;
    padding-bottom: 193px;
    position: relative;
}
.nav-thuctap .icontt1{
    position: absolute;
    top: 79px;
    left: 0;
}
.nav-thuctap  .icontt2{
    bottom: 78px;
    position: absolute;
    left: 19%;
}
.nav-thuctap  .icontt3{
    position: absolute;
    top: 86px;
    left: 50%;
    transform: translateX(-50%);
}
.nav-thuctap  .icontt4{
    position: absolute;
    right: 201px;
    bottom: 80px;
}

.nav-thuctap .item2 .desc{
    border: 10px solid #388e3b;
}
.nav-thuctap .item2 h2{
    background:  #388e3b;
    top: inherit;
    bottom: -23px;
}
.nav-thuctap .item3 .desc{
    border: 10px solid #7bb342;
}
.nav-thuctap .item3 h2{
    background:  #7bb342;


}
.nav-thuctap .item4 .desc{
    border: 10px solid #c0c933;
}
.nav-thuctap .item4 h2{
    background:  #c0c933;
    top: inherit;
    bottom: -23px;
}
.nav-thuctap .item1:before{
    content: url('images/noc1.png');
    position: absolute;
    top: -143px;
    left: 39%;
}
.nav-thuctap .item2:before{
    content: url('images/noc2.png');
    position: absolute;
    bottom: -143px;
    left: 39%;
}
.nav-thuctap .item3:before{
    content: url('images/noc3.png');
    position: absolute;
    top: -143px;
    left: 39%;
}
.quytrinhthuctap{
    margin-top: 98px;
    text-align: center;
}
.quytrinhthuctap .desc-qt{
    padding-left: 22%;
    padding-right: 22%;


}
.slider-qt h2.title1{
    font-size: 40px;
    padding-bottom: 12px;

}
.slider-qt h2.title1 a{
    color: #fff;
}
.slider-qt .xemchitiet{
    background: #ffc312;
    width: 187px;
    height: 43px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 12px;
}
.slider-qt p{
    color: #fff;
}
.slider-qt .item{
    position: relative;
}
.slider-qt .item .nav-item{
    position: absolute;
    bottom: 68px;
    left: 0;
    width: 100%;
}
.slider-qt .owl-dot {
    padding: 0!important;
    border: 0!important;
    background: none!important;
}
.slider-qt .owl-dot  span{
    width: 13px!important;
    height: 13px!important;
    display: inline-block!important;
    background: #938f89!important;
    border-radius: 50%!important;
    margin: 3px!important;
}
.slider-qt  .owl-dots{
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
}
.slider-qt .owl-dot.active span{
    background: #fff!important;
}
.slider-qt{
    margin-top: 83px;
}
.content-dk h2.title1{
    padding-bottom: 28px;
    color: #535353;
}
.ksoat-donghanh{
    background: url('images/bg6.png') ;
}
.dowload .chon{
    margin-top: 0;
}
.dowloadmau {
    text-align: center;
    margin-bottom: 58px;
}
.dowloadmau a{
    width: 376px;
    height: 70px;
    display: inline-block;
    background: #007759;
    line-height: 70px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    border-radius: 48px;
}
.dowloadmau img{
    padding-right: 14px;
}

.accordion-container{
    position: relative;

    height: auto;

}
.accordion-container > h2{
    text-align: center;
    color: #fff;
    padding-bottom: 5px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}
.set{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fafafa;
}
.set > a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color:#bababa;

    border-bottom: 1px solid #ddd;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
.set > a i{
    float: right;
    margin-top: 2px;
}
.set > a.active{
    background: #fafafa
    color: #212121;
    font-weight: bold;
    color: #000;
}
.set .content{
    background-color: #fafafa;
    border-bottom: 1px solid #ddd;
    display:none;
}
.content p{
    padding: 10px 15px;
    margin: 0;
    color: #333;
}
.hoidap{
    padding-top: 77px;
    background: #fafafa;
    padding-bottom: 44px;
}
.hoidap h2.title1{
    font-size: 34px;
}
.hoidap p.desc{
    color: #222;
    padding-top: 17px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 32px;
    font-weight: bold;
}
.set img{
    padding-right: 18px;
}
.set .left{
    width: 15%;
    display: inline-block;
    float: left;
    text-align: center;
}
.set .left span{
    color: #1d64b3;
    font-size: 30px
}
.set .right{
    width: 85%;
    display: inline-block;
    float: left;
}
.set .right p{
    color: #646464;
    font-size: 16px;
}
.accordion-container .set .content{

    padding: 28px 0;
    border-left: 5px solid #eaeaea;
    margin-left: 15px;
}
.contact-donghanh{
    background: url('images/bg7.png');
    background-repeat: no-repeat;
}
.contact-donghanh h3.top-title1{
    padding-top: 40px;
    padding-bottom: 0;
    margin-bottom: 17px;
    border-bottom: 0;
    font-size:34px;
}
.contact-donghanh h3.top-title1 .hotline {
    display:inline-block;
    margin-left:45px;
    padding-left:49px;
    background-repeat:no-repeat;
    background-image:url('images/icon-phone.png');
    background-size:37px auto;
    font-size:16px;
    color:#222222;
    font-family: 'Asap', sans-serif;
    vertical-align: top;
}
.contact-donghanh h3.top-title1 .hotline b {
    font-size:21px;
    color:#007759;
    display:block;
}
.contact-donghanh textarea{
    width: 100%;
    height: 229px;
    margin-top: 8px;
}

.grid-grid{
    position: relative;
    height: 979px;
}
.grid-grid .box{
    position: absolute;
}
.grid-grid .box a {
    display:block;
    background-size:cover;
    background-position:center center;
    height:100%;
}
.grid-grid .box img {
    display:none;
}
.grid-grid .box1{

    top: 0;
    left: 0;
    width: 35.6%;
    height: 487px;
}
.grid-grid .box1 img{
    width: 100%;
    height: 100%;
}
.grid-grid .box2{
    position: absolute;
    top: 0;
    width: 11.8%;
    left: 36%;
    height: 394px

}
.grid-grid .box3{
    position: absolute;
    top: 0;
    left: 48.2%;
    width: 11.8%;
    height: 394px;
}
.grid-grid .box2 img{
    width: 100%;
    height: 100%;
}
.grid-grid .box3 img{
    width: 100%;
    height: 100%;
}
.grid-grid .box4{
    position: absolute;
    top: 0;
    left: 60.4%;
    width: 15.6%;
    width: 15.6%;
    height: 241px;

}
.grid-grid .box4 img{
    width: 100%;
    height: 100%;
}
.grid-grid .box5{

    top: 25%;
    left: 60.4%;
    width: 15.6%;
    height: 242px;
}
.grid-grid .box6{

    top: 0;
    right: 0;
    height: 487px;
    width: 23.6%;
}
.grid-grid .box6 img{
    height: 100%;
    width: 100%;
}
.grid-grid .box7 img{
    width: 100%;
    height: 100%;
}
.grid-grid .box7{

    top: 50.2%;
    left: 0;
    width: 15.7%;
    height: 194px;
}
.grid-grid .box15  {
    height: 277px;
}
.grid-grid .box15 img{
    width: 100%;
    height: 100%;
}

.grid-grid .box8{
    top: 50.2%;
    left: 16%;
    width: 19.6%;
    height: 194px;
}
.grid-grid .box8 img{
    width: 100%;
    height: 100%;
}
.grid-grid .box5 img{
    width: 100%;
    height: 100%;
}

.grid-grid .box9{
    width: 24%;
    left: 36%;
    top: 40.7%;
    height: 341px;
}
.grid-grid .box9 img{
    height: 100%;
    width: 100%;
}
.grid-grid .box13{
    top: 70.4%;
    left: 24%;
    width: 11.6%;
    height: 282px;
}
.grid-grid .box13 img{
    width: 100%;
    height: 100%;
}
.grid-grid .box14{

    top: 76%;
    left: 36%;
    width: 24%;
    height: 227px;
}
.grid-grid .box14 img{
    width: 100%; height: 100%;
}
.grid-grid .box15{
    top: 50.2%;
    right: 0;
    width: 19.6%;

}
.grid-grid .box16{
    top: 50.2%;
    right: 20%;
    width: 19.6%;
    height: 219px;
}
.grid-grid .box19 img{
    width: 100%;
    height: 100%;
}
.grid-grid .box17{

    width: 23.6%;
    top: 70.4%;
    left: 0;
    height: 282px;
}
.grid-grid .box17 img{
    width: 100%;
    height: 100%;
}
.grid-grid .box18{
    top: 73%;
    right: 20%;
    width: 19.6%;
    height: 257px;
}
.grid-grid .box18 img{
    width: 100%;
    height: 100%;
}
.grid-grid .box19{
    top: 79%;
    right: 0;
    width: 19.6%;
    height: 199px;
}
.menu-mobie{
    display: none;
}
.main-menu2 ul li.active a,
.main-menu2 ul li:hover a{
    background: #ffc312;

}

.main-contact .nav-right .nav-icon ul li .span1{
    width: 45%;
    display: inline-block;
    float: left;
}
.main-contact .nav-right .nav-icon ul li .span2{
    width: 53%;
    display: inline-block;
    float: right;
}
.content-info.content-dk h2.title1{
    font-size: 40px;
    text-align: center;
}
.contact-donghanh.main-contact .item-nd {
    margin-top: 83px;
}
.banner .nav-title-product{
    top:59%;
}
.slider-doitac .fa{
    color: #d0d0d0;
}
.main-menu>.row>.col-md-3{
    width: 31%;
}
.main-menu>.row>.col-md-9{
    width: 69%;
}
.slider-home1.banner {
    overflow: hidden;
}
.slider-home1.banner img{
    max-width: none;
}
.nav-slider-product ul li a:hover{
    background: none;
}
.top-info .item{
    cursor: pointer;
}
.top-info .item:hover .left,
.top-info .item.active1 .left{
    background: #007b42;
}
.top-info .item.active1 .right  span,
.top-info .item:hover .right  span{
    color: #007b42;
    font-weight: bold;
}
.tab-htpp .item-top input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #656565;
    font-weight: bold;
}
.tab-htpp .item-top input[type=text]::-moz-placeholder { /* Firefox 19+ */
    color: #656565;
    font-weight: bold;
}
.tab-htpp .item-top input[type=text]:-ms-input-placeholder { /* IE 10+ */
    color: #656565;
    font-weight: bold;
}
.tab-htpp .item-top input[type=text]:-moz-placeholder { /* Firefox 18- */
    color: #656565;
    font-weight: bold;
}
.nav-content-link p{
    color: #000;
}
.quytrinhthuctap h2.title1{
    font-size: 40px;
}
.comment-facebook{
    margin-top: 40px;
    border-top: 1px solid #ccc;
    background: #f7f7f7;
}
.khung-content .comment-facebook{
    margin-top: 0;
    padding: 30px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.map-info{
    padding: 45px;
    position: absolute;
    top: 0;
    min-width: 500px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9;
    background: #fff;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 5px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 5px 10px 0px rgba(50, 50, 50, 0.75);
    border-radius: 0 0 5px 5px;
}
.map-info h3{
    font-family: Asap;
    font-size: 30px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
}
.map-info span{
    color: #454545;
    font-family: Asap;
    margin-right: 30px;
    font-size: 14px;
}
.map-info i{
    font-size: 20px;
    padding-right: 10px;
}
#main-ksoat .nav-title-donghanh p{
    padding-top: 10px;
}
.nav-new-home .images {
    overflow: hidden;

}
.nav-new-home .images img{
    -webkit-transition: all 0.7s ease; transition: all 0.7s ease;
}
.nav-new-home .images:hover img{
    -webkit-transform:scale(1.1); transform:scale(1.1);
}



.koh-faqs-page-title {
    font-family: Nexa W01 Heavy;
    font-size: 30px;
    color: #04202E;
    font-weight: 700;
}

.koh-faq-question-span {

    font-size: 16px !important;
    color: #000 !important;
    font-weight: 700 !important;
    display: inline-block;
}
.main-menu-mobile li a img{
    display: inline-block;
    float: left;
    padding-right: 6px;
}
.main-menu-mobile{
    margin-left: 30px;
    padding-right: 30px;
}
.main-menu-mobile li:last-child a{
    border-bottom: 0;
}

.koh-faq-question{
    position: relative;
}
.click-icon1{
    position: absolute;
    right: 0;
    top: 0;
}

.koh-faq-answer {

    color: #000;
    font-weight: 400;
    display: none;
}

.icon {
    font-size: 10px;
    padding-right: 5px;
}

.fa {
    transition: transform .2s;
}

.arrow.active {
    transform: rotateZ(90deg);
    display: block!important;
}
.language-mobile{
    clear: both;
}
.laguage.language-mobile{
    position: relative;
    /* display: inline-block; */
    clear: both;
    display: inline-block;
    width: 40px;
    /* background: #ddd; */
    padding: 3px;
    float: left;
    margin-left: 15px;
    margin-bottom: 10px;
}
.laguage.language-mobile{
    display: none;
}
.laguage .ddlabel{
    display: none;
}
.slider-home{
    z-index: 0;
}
.dd .arrow{width:16px;height:16px; margin-top:-8px; background:url('images/1.png') no-repeat;    right: 0;
    top: 22px;position: absolute;}
.language-mobile ul li{
    display: inline-block;
}
.language-mobile ul{
    display: inline-block;
}
.language-mobile{
    text-align: right;
}
.language-mobile{
    display: none;
}
.icon-nav-search{
    position: absolute;
    right: 10px;
    top: 10px;
    background: #009D54;
    height: 35px;
    text-align: center;
    line-height: 36px;
    border: 1px solid #fff;
    border-left: 0;
}
.icon-nav-search img{
    width: 50%;
}
.top-info .item .active1 span{
    color: #007b42;
    font-weight: bold;
}
.map-detail-nongtruong .map-info{
    width: 814px;
}
.top-product .item{
    text-align: center;
}
.sliderowl-custom .owl-nav {
    left:0;
}
.sliderowl-custom .owl-prev,.sliderowl-custom .owl-next {
    position: absolute;
    top: 50%;
    border:none;
    background-repeat:no-repeat !important;
}
.nav-donghanh .owl-prev,.nav-donghanh .owl-next,
.sliderproduct .owl-prev,.sliderproduct .owl-next,
.nav-top-ksoat .owl-prev,.nav-top-ksoat .owl-next,
.sliderowl-style .owl-prev,.sliderowl-style .owl-next{
    height:47px;
    width:47px;
    margin-top:-23.5px;
    font-size:0;
}
.nav-donghanh .owl-prev,.sliderproduct .owl-prev,
.nav-top-ksoat .owl-prev,.sliderowl-style .owl-prev {
    left: -84px;
    background:url('images/sliderprev-style1.png');
}
.nav-donghanh  .owl-next,.sliderproduct .owl-next,
.nav-top-ksoat .owl-next,.sliderowl-style .owl-next {
    right: -84px;
    background:url('images/slidernext-style1.png');
}
.nav-technology .owl-prev,.nav-technology .owl-next {
    height:20px;
    width:12px;
    margin-top:-101px;
    font-size:0;
}
.nav-technology .owl-prev {
    left: -64px;
    background:url('images/sliderprev-style2.png');
}
.nav-technology  .owl-next {
    right: -64px;
    background:url('images/slidernext-style2.png');
}
.detailproduct-other h3 {
    font-size:28px;
    color:#222222;
    margin:30px 0;
    font-family: 'Prata', serif;
}
.grid .grid-item {
    height:200px;
    width:20%;
}
.grid .grid-item  img {
    height:100%;
}
.captcharcustom {
    position: relative;
    padding-right: 113px;
    padding-top: 8px;
}
.captcharcustom #showcode {
    position: absolute;
    top: 0;
    right: 0;
    background: #e7cc83;
    width: 100px;
    bottom: -3px;
    line-height: 58px;
    padding: 0 5px;
    font-size: 20px;
    letter-spacing: 6px;
    text-align: center;
    color:#000;
}
input.error {
    border:1px solid #ff0000 !important;
}
label.error {
    color: rgb(255, 0, 0);
    /* display: none !important; */
}
.filterLocation {
    margin-bottom:34px;
}
.main-hethongpp .nav-tabs>li {
    margin-bottom:0;
}
.nav-hoptackinhdoanh.sliderowl-style img {
    width:auto !important;
}
.sparner-item {
    background-position:30% center;
    background-size:cover;
}
.sparner-item .slider-description {
    width:30%;
    background:#009d54;
    padding:60px 45px 100px;
    color:#fff;
    text-align:left;
}
.sparner-item .slider-description h3 {
    font-size:34px;
    color:#f2f2f2;
    font-weight:bold;
    margin-bottom:40px;
}
.sparner-item .slider-description h3 img {
    width:auto;
    display:inline-block;
    vertical-align:middle;
    margin-right:15px;
}
.partnerlink-feature .owl-dots {
    position: absolute;
    bottom: 30px;
    left: 45px;
}
.partnerlink-feature .owl-dots .owl-dot {
    width:14px;
    height:14px;
    display:inline-block;
    border:none;
    background:#fff;
    opacity:0.2;
    border-radius:50%;
    margin-right:4px;
}
.partnerlink-feature .owl-dots .owl-dot.active {
    opacity:1;
}
.checksun {
    display:inline-block;
    width:26px;
    height:26px;
    background:url('images/sun.png');
}
.table-calendarfruits {
    border:none;
    border-radius:5px;
    overflow:hidden;
    color:#555555;
    font-size:16px;
    background:#fff;
}
.table-calendarfruits th,.table-calendarfruits td {
    vertical-align:middle !important;
}
.table-calendarfruits td {
    padding:10px 15px !important;
    border-color:#eeeeee !important;
    width:60px;
    text-align:center;
}
.table-calendarfruits th{
    background:#35a23d;
    color:#fff;
    border:none !important;
    padding:20px 15px !important;
    text-align:center;
}
.table-calendarfruits th .title {
    font-weight:400;
    width:420px;
    text-align:left;
}
.table-calendarfruits th .mtitle {
    float:right;
}
.table-calendarfruits .fruitname {
    background:#e5e5e5;
}
.table-calendarfruits .fruitname td {
    border:none !important;
    padding:6px 25px !important;
    text-align:left;
}
.table-calendarfruits td a {
    color:#555555;
}
.table-calendarfruits td a .image {
    width:82px;
    margin-left:5px;
    margin-right:20px;
    text-align:center;
    display:inline-block;
}
.table-calendarfruits td:nth-child(1) {
    text-align:left;
}
.table-calendarfruits td:nth-child(2n) {
    background:#f9f9f9;
}
.the-table {
    overflow:auto;
}
.list-caterm {
    position:relative;
    padding-left:190px;
}
.list-caterm .itemhightlight {
    position:absolute;
    left:0;
    top:0;
    text-align: center;
    padding: 0 30px;
    width:190px;
}
#myModal .modal-lg {
    max-width:730px;
}
#myModal .modal-header {
    padding:40px 30px 10px;
    position:relative;
}
#myModal .modal-header .retager {
    position: absolute;
    bottom: 13px;
    right: 30px;
    color: #0d62d6;
    text-decoration: underline;
}
#myModal .modal-body {
    padding:10px 30px 0;
}
#myModal  label {
    font-size: 14px;
    color: #6d6d6d;
}
#myModal .item-contact .input .fa {
    top: 15px;
}
#myModal .item-contact input[type=text] {
    padding-left:35px;
}
#myModal .item-contact.item-contact-noicon input[type=text]{
    padding-left:12px;
}
.main-contact .item-contact.item-contactfull {
    width:100%;
}
#myModal .guilienhe {
    margin-top:10px;
}
.content-congnghe .item .iblur,
.owl-carousel .owl-item .iblur {
    -webkit-filter: blur(2px);
    filter: blur(2px);
}
.content-congnghe .item:hover .iblur,
.owl-carousel .owl-item .iblur:hover,
.owl-carousel .owl-item .images:hover .iblur{
    -webkit-filter: none;
    filter: none;
}
.technology-home .owl-carousel .owl-item .images {
    border:2px solid #fff;
    border-radius:50%;
    margin:1px;
    position:relative;
}
.technology-home .owl-carousel .owl-item .images img.iblur {
    border-radius:50%;
}
.technology-home .owl-carousel .owl-item .images .iconshow {
    max-height:40%;
    height:50px;
    width:auto;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-25px;
    margin-left:-25px;
}