@font-face {
    font-family: 'My-riadPro-Regular';
    src: url(../fonts/MyriadPro-Regular.eot?v=4.3.0);
    src: url(../fonts/MyriadPro-Regular.eot?#iefix&v=4.3.0) format("embedded-opentype"), url(../fonts/MyriadPro-Regular.woff2?v=4.3.0) format("woff2"), url(../fonts/MyriadPro-Regular.woff?v=4.3.0) format("woff"), url(../fonts/MyriadPro-Regular.ttf?v=4.3.0) format("truetype"), url(../fonts/MyriadPro-Regular.svg?v=4.3.0#fontawesomeregular) format("svg");
    font-weight: 400;
    font-style: normal
}

p {
    margin: 0
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: none;
    cursor: pointer
}

* {
    margin: 0;
    padding: 0
}

ul, ol {
    padding: 0;
    margin: 0
}

li {
    list-style: none
}

.clearfix-20 {
    height: 20px;
    clear: both
}

.main_hd.sticky-header {
    position: relative
}

.fixed {
    position: fixed !important;
    top: 0;
    z-index: 999;
    width: 100%
}

body {
    background: #fff;
    font-size: 12px;
    font-family: arial
}

del {
    font-size: 12px;
    color: #999
}

.line_height45 {
    line-height: 45px
}

.row_right {
    margin-right: -15px
}

.pd_r_5 {
    padding-right: 5px
}

.mg_l_0 {
    margin-left: 0 !important
}

.mg_l_10 {
    margin-left: 10px
}

.mg_t_10 {
    margin-top: 10px
}

.pd_top15 {
    padding-top: 15px
}

.pd_top25 {
    padding-top: 25px
}

.pd_bot_15 {
    padding-bottom: 15px
}

.pd_20_10 {
    padding: 20px 10px
}

.pd_0_15 {
    padding: 0 15px
}

.pd_10_0 {
    padding: 10px 0
}

.pd_30_0_0_15 {
    padding: 30px 0 0 15px
}

.pd_15_5_10_15 {
    padding: 15px 5px 10px 15px;
    overflow: hidden
}

.pd_10_0_15_5 {
    padding: 10px 0 15px 5px;
    overflow: hidden
}

.pd_6_0_6_5 {
    padding: 6px 0 6px 5px
}

.pd_r_15 {
    padding-right: 15px
}

.pd_b_3 {
    padding-bottom: 3px
}

.pd_l_15 {
    padding-left: 15px
}

.pd_2_0 {
    padding: 2px 0
}

.pd_5_0 {
    padding: 5px 0
}

.pd_7_0 {
    padding: 7px 0
}

.pd_15_0 {
    padding: 15px 0
}

.pd_20_0 {
    padding: 20px 0
}

.pd_25_0_20_0 {
    padding: 25px 0 20px
}

.pd_30_10_40_40 {
    padding: 30px 10px 40px 40px
}

.border_0 {
    border: 0
}

.border_1px_eee {
    border: 1px solid #eee;
    overflow: hidden
}

.border_1px_0 {
    border: 1px solid rgba(0, 0, 0, 0)
}

.border_l1_fff {
    border-left: 1px solid #fff
}

.border_t1_f47920 {
    border-top: 2px solid #f47920
}

.border_r1_e0e0e0 {
    border-right: 1px solid #e0e0e0
}

.border_t1_4b4b4b {
    border-top: 1px solid #4b4b4b
}

.border_t1_eee {
    border-top: 1px solid #eee
}

.border_b1_eee {
    border-bottom: 1px solid #eee
}

.border_b1_2a2a2a {
    border-bottom: 1px solid #2a2a2a
}

.float_left {
    float: left
}

.f12u_000 {
    text-transform: uppercase;
    font-size: 12px;
    color: #000
}

.f12_fff {
    font-size: 12px;
    color: #fff
}

.f12_a7a6a6 {
    font-size: 12px;
    color: #a7a6a6
}

.f12_999b9f {
    font-size: 12px;
    color: #999b9f
}

.f12_7d7d7d {
    font-size: 12px;
    color: #7d7d7d
}

.f12_565555 {
    font-size: 12px;
    color: #565555
}

.f12_8a8b8b {
    font-size: 12px;
    color: #8a8b8b
}

.f12_525151 {
    font-size: 12px;
    color: #525151
}

.f13_363637 {
    font-weight: 400 !important;
    font-size: 13px;
    color: #363637
}

.f14b_363637 {
    font-weight: 700 !important;
    font-size: 14px;
    color: #363637
}

.f12_f87717 {
    font-size: 12px;
    color: #f87717
}

.f12b_ff0000 {
    font-size: 12px;
    color: red;
    font-weight: 700
}

.f13_666666 {
    font-size: 13px;
    color: #666
}

.f12_3a3a3a {
    font-size: 12px;
    color: #3a3a3a
}

.f12_999a9a {
    font-size: 12px;
    color: #999a9a
}

.f12_565b70 {
    font-size: 12px !important;
    color: #565b70 !important
}

.f13bu_6a6a6a {
    font-size: 13px;
    color: #6a6a6a;
    text-transform: uppercase;
    font-weight: 700
}

.f13u_515151 {
    font-size: 13px;
    text-transform: uppercase;
    color: #515151
}

.f13_515151 {
    font-size: 13px;
    color: #515151
}

.f14bu_ffff {
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase
}

.f14_a7a6a6 {
    font-size: 14px;
    color: #a7a6a6
}

.f14u_6a6a6a {
    font-size: 14px;
    color: #6a6a6a;
    font-weight: 700;
    text-transform: uppercase
}

.f14bu_565555 {
    font-weight: 700;
    font-size: 14px;
    color: #565555;
    text-transform: uppercase
}

.f14_565555 {
    font-size: 14px;
    color: #565555
}

.f14b_525151 {
    font-size: 14px;
    color: #525151;
    font-weight: 700
}

.f14bu_000 {
    font-size: 14px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase
}

.f16_5c5c5c {
    font-size: 16px;
    color: #5c5c5c
}

.f16bu_000 {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase
}

.f18_333 {
    font-size: 18px;
    color: #333
}

.f18_000000 {
    font-size: 18px;
    color: #000
}

.bg_eee {
    background: #eee
}

.bg_f3f3f3 {
    background: #f3f3f3
}

.bg_f47920 {
    background: #f47920
}

.bg_ef7d00 {
    background: #ef7d00
}

.bg_f6f6f6 {
    background: #f6f6f6
}

.w_20 {
    width: 20%
}

.w_100 {
    width: 100%
}

.h_100 {
    height: 100%
}

.f12_hv_fff:hover {
    font-size: 12px;
    color: #fff
}

.bg_fff {
    background: #fff !important
}

.bg_hv_fff:hover {
    background: #fff !important
}

.bg_ac_fff:active {
    background: #fff !important
}

.bg_hv_ef7d00:hover {
    background: #ef7d00
}

.bg_f7f7f7 {
    background: #f7f7f7
}

.ul_lv2>.li_lv2:hover a, .title_subset ul li:hover a, .menu_top ul li a:hover, .hover_co_ef7d00:hover a, .hover_co_ef7d00:hover {
    color: #ef7d00 !important
}

.logo_brand ul li:hover, .hover_opacity085:hover img, .hover_opacity085:hover {
    opacity: .85;
    -webkit-transition: all .5s ease-in-out !important;
    -moz-transition: all .5s ease-in-out !important;
    -o-transition: all .5s ease-in-out !important;
    -ms-transition: all .5s ease-in-out !important;
    transition: all .5s ease-in-out !important
}

.title_main_bot:hover a, .title_main:hover a {
    color: #fff
}

.hover_box_img:hover {
    box-shadow: 1px 1px 1px 1px rgba(51, 51, 51, 0.07)
}

.h_360px {
    height: 360px
}

.h_160px {
    height: 160px
}

.menu_top ul {
    padding: 5px 0
}

.menu_top ul li {
    float: left;
    border-right: 1px solid #7d7d7d;
    line-height: 12px;
    padding: 0 5px
}

.menu_top ul li:last-child {
    border: 0
}

.menu_top ul li a {
    font-size: 12px;
    color: #7d7d7d
}

.bl_lp:hover img {
    opacity: .65
}

.box_search {
    border: 2px solid #ef7d00;
    max-width: 100%;
    margin: auto;
    background: #ef7d00
}

.icon_cart {
    overflow: hidden;
    text-align: center;
    color: #eee;
    position: relative;
    float: left;
    background: url(../img/icon/icon_cart.png) no-repeat;
    background-size: 100% 100%;
    display: block;
    width: 49px;
    height: 45px
}

.main_hd {
    background: #fff;
    box-shadow: 0 5px 8px -5px rgba(71, 57, 57, 0.31)
}

.img_bn2 {
    width: 100%;
    height: 260px
}

.list_cate .title_main:after {
    content: '';
    position: absolute;
    background: url(../img/icon/bg_after.png) no-repeat right center;
    background-size: 100% 100%;
    display: block;
    width: 14px;
    height: 100%;
    z-index: 5;
    top: 0;
    right: -10px;
    border: none
}

.title_main {
    padding: 25px 0 30px 15px;
    max-height: 80px
}

.list_cate_bot {
    margin-top: 30px;
    border-top: 2px solid #ef7d00
}

.list_cate_bot .title_main_bot:after {
    content: '';
    position: absolute;
    background: url(../img/icon/bg_after.png) no-repeat right center;
    background-size: 100% 100%;
    display: block;
    width: 14px;
    height: 100%;
    z-index: 5;
    top: 0;
    right: -10px;
    border: none
}

.title_main_bot {
    padding: 14px 0 13px 15px
}

.list_cate {
    box-shadow: 0 4px 8px -5px rgba(71, 57, 57, 0.28)
}

.title_subset {
    overflow: hidden;
    height: 80px
}

.title_subset ul {
    height: 80px;
    overflow: hidden;
    padding: 15px 0
}

.title_subset ul li {
    float: left;
    padding: 0 15px;
    border-right: 1px solid #eee
}

.title_subset_bot {
    overflow: hidden
}

.title_subset_bot ul {
    height: 48px;
    overflow: hidden
}

.title_subset_bot ul li {
    float: left;
    padding: 18px 3px;
    line-height: 11px
}

.title_subset_bot ul li a {
    border-right: 1px solid #3a3a3a;
    padding: 0 10px
}

.logo_brand {
    padding: 10px 0
}

.logo_brand ul li {
    text-align: center
}

.logo_brand li a img {
    width: 100%
}

.list_pro_1 ul li {
    border-left: 1px solid #eee
}

.list_pro_1 ul li:last-child {
    border-right: 1px solid #eee
}

.dm_sp {
    min-height: 46px;
    background: #ef7d00;
    padding: 13px 0
}

.background-banner {
    display: none !important
}

.box_main_pro {
    margin-top: 30px;
    border: 1px solid #eee
}

.list_pro_1 ul li:hover {
    box-shadow: 1px 1px 1px 1px rgba(51, 51, 51, 0.07)
}

.list_pro_1 ul li .box_prod_1 {
    padding: 6px 0 6px 5px
}

.list_pro_1 ul li .box_prod_1:hover a {
    color: #ef7d00 !important
}

.list_pro_2 ul li .box_prod_2 {
    border: 1px solid rgba(0, 0, 0, 0);
    overflow: hidden;
    padding-bottom: 20px;
}

.list_pro_2 ul li .box_prod_2:hover a {
    color: #ef7d00 !important
}

.list_pro_2 ul li {
    padding: 1px 0
}

.list_pro_2 ul li:hover {
    box-shadow: 1px 1px 1px 1px rgba(51, 51, 51, 0.07)
}

.title_history {
    font-size: 18px;
    color: #333;
    padding: 16px 0
}

.sp_tieubieu {
    border: 1px solid #eee;
    margin: 80px 0 10px;
    border-radius: 5px;
    padding: 0 20px 20px
}

.menu_bot {
    overflow: hidden;
    margin-top: 15px
}

.menu_bot>.ul_lv1>.li_lv1 {
    float: left
}

.ul_lv2 {
    padding: 18px 0
}

.menu_bot>.ul_lv1>.li_lv1>.ul_lv2>.li_lv2 {
    padding-bottom: 8px
}

.ul_lv2>.li_lv2>a {
    font-size: 13px;
    color: #666
}

.link_icon ul li {
    float: left;
    padding: 15px 2px
}

.link_icon {
    overflow: hidden;
    width: 100%;
    text-align: center;
    padding-left: 30%
}

.link_icon ul li a img {
    width: 35px;
    height: 35px
}

.lienhe_ft {
    line-height: 22px;
    padding: 20px 0 15px
}

.box_bot_right {
    overflow: hidden
}

.top-menu-v2 li {
    padding: 0
}

.box_ct_ft {
    padding: 40px 10px 40px 40px;
    overflow: hidden
}

.box_ct_ft img {
    width: 60px;
    height: 40px
}

.back_list {
    padding: 10px 15px;
    background: url(../img/background/bg_back_list.png) repeat-x;
    background-size: 100% 100%
}

.back_list a {
    text-transform: uppercase;
    font-size: 12px;
    color: #525151
}

.back_list i {
    color: red;
    font-size: 14px !important;
    font-weight: 700;
    margin: 0 5px
}

.left-sidebar .widget {
    margin-bottom: 16px;
    padding: 10px 16px
}

.widget-breadcrumb, .widget-categories-list {
    overflow: hidden;
    background: #f7f7f7;
    font-size: 12px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #eee
}

.border-radius {
    border-radius: 4px
}

.border {
    border: 1px solid #eee
}

.widget-breadcrumb .active>a, .widget-categories-list .active>a {
    font-family: "Roboto-Medium", sans-serif;
    color: #333
}

.widget-breadcrumb>ul a, .widget-categories-list>ul a {
    line-height: 16px;
    display: block
}

.widget-breadcrumb>ul ul, .widget-categories-list>ul ul {
    margin-left: 12px;
    margin-top: 4px
}

.widget-breadcrumb>ul li, .widget-categories-list>ul li {
    padding: 4px 0
}

.widget-breadcrumb>ul a, .widget-categories-list>ul a {
    line-height: 16px;
    display: block
}

.widget-breadcrumb>ul li, .widget-categories-list>ul li {
    padding: 4px 0
}

.style_li {
    list-style-image: url(../img/background/bg_style_li.png)
}

.left-sidebar .wrap-list-filter-option {
    padding: 0
}

.wrap-list-filter-option .panel-group {
    padding: 11px 16px 15px
}

.wrap-list-filter-option>.box-value-filter {
    margin-bottom: 16px;
    border-color: #e3edef;
    background: #eaf2f8;
    border-radius: 0
}

.wrap-list-filter-option .list-filter-option {
    background: #f3f3f3;
    border-radius: 0
}

.wrap-list-filter-option .panel-group {
    padding: 11px 16px 15px
}

.wrap-list-filter-option .list-filter-option .panel-group {
    margin-bottom: 0
}

.wrap-list-filter-option .panel-group {
    padding: 11px 16px 15px
}

.wrap-list-filter-option .list-filter-option .panel-group .panel:first-child {
    border-top: none;
    padding-top: 0;
    margin-top: 0
}

.wrap-list-filter-option .panel {
    border: none;
    background: none
}

.panel-group .panel {
    border-radius: 0
}

.wrap-list-filter-option .list-filter-option .toggle {
    position: relative
}

.wrap-list-filter-option .panel-default>.panel-heading {
    background: none
}

.wrap-list-filter-option .panel-heading {
    padding: 0;
    cursor: pointer
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd
}

.panel-group .panel-heading {
    border-bottom: 0
}

.panel-heading {
    border-radius: 0
}

.wrap-list-filter-option .panel>.panel-heading .panel-title {
    font-family: "Roboto-Medium", sans-serif;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 15px
}

.panel>.panel-heading .panel-title {
    font-weight: 400 !important
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit
}

.wrap-list-filter-option .list-filter-option .toggle .adr-caret {
    position: absolute;
    right: 0;
    top: 6px;
    display: block;
    width: 8px;
    height: 4px
}

wrap-list-filter-option .list-filter-option .toggle .adr-caret:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #ccc
}

.wrap-list-filter-option .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top: none
}

.wrap-list-filter-option .panel-body {
    padding: 0
}

.wrap-list-filter-option .list-filter-option ul li:first-child {
    margin-top: 0
}

.wrap-list-filter-option .list-filter-option label {
    position: relative;
    margin-bottom: 0;
    padding-left: 24px;
    line-height: 14px;
    cursor: pointer;
    font-size: 13px;
    color: #444
}

.list-unstyled .style_li:hover a, .wrap-list-filter-option .list-filter-option label:hover a, .wrap-list-filter-option .list-filter-option label:hover span {
    color: #ef7d00
}

ul.list-unstyled li.style_li.active a {
    color: #ef7d00
}

.wrap-list-filter-option .list-filter-option .checker {
    height: 14px;
    width: 14px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 2px
}

div.checker {
    margin-right: 5px
}

.wrap-list-filter-option .list-filter-option .count-item {
    color: #999
}

.wrap-list-filter-option .list-filter-option label input {
    margin-top: 0
}

div.checker span {
    display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
    text-align: center;
    background-position: 0 -260px
}

.wrap-list-filter-option .list-filter-option .toggle.active .adr-caret:before {
    border-top: none;
    border-bottom: 4px solid #ccc
}

.wrap-list-filter-option .list-filter-option .toggle .adr-caret:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #ccc
}

element.style {
    display: block
}

.collapse.in {
    display: block;
    visibility: visible
}

.collapse {
    display: none;
    visibility: hidden
}

.wrap-list-filter-option .list-filter-option .panel-group .panel {
    border-top: 1px dotted #ccc;
    padding-top: 13px;
    margin-top: 16px
}

.panel {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.panel-group .panel+.panel {
    margin-top: 5px
}

.wrap-list-filter-option .panel {
    border: none;
    background: none
}

.panel-group .panel {
    border-radius: 0
}

.panel>.panel-heading .panel-title {
    font-weight: 400 !important
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit
}

.collapse.in {
    display: block;
    visibility: visible
}

.wrap-list-filter-option .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top: none
}

.wrap-list-filter-option .panel-body {
    padding: 0
}

.wrap-list-filter-option .search_cat {
    position: relative;
    margin-bottom: 16px
}

form {
    display: block;
    margin-top: 0
}

.collapse.in {
    display: block;
    visibility: visible
}

.wrap-list-filter-option .search_cat .form-control {
    height: 32px
}

.form-control {
    font-size: 13px;
    font-size: 13px;
    line-height: 20px;
    border: 1px solid #eee;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

.wrap-list-filter-option .search_cat button {
    background: #0388cd url(../images/icon_search1.png) no-repeat center center;
    height: 32px;
    width: 32px;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    border-radius: 0 3px 3px 0
}

.wrap-list-filter-option .mCustomScrollbar {
    max-height: 228px
}

.widget .list-unstyled {
    margin-bottom: 0
}

.list-unstyled {
    padding-left: 0;
    list-style: none
}

.mCustomScrollBox {
    position: relative;
    overflow: hidden;
    height: 100%;
    max-width: 100%;
    outline: none;
    direction: ltr
}

.mCSB_container {
    overflow: hidden;
    width: auto;
    height: auto
}

.mCSB_scrollTools {
    opacity: 1 !important;
    width: 8px !important;
    right: 2px !important;
    position: absolute;
    width: 16px;
    height: auto;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0
}

.wrap-list-filter-option .list-filter-option ul li {
    margin-top: 10px;
    line-height: 1
}

label {
    font-weight: 400
}

.mCSB_scrollTools .mCSB_draggerContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: auto
}

.mCSB_scrollTools .mCSB_dragger {
    cursor: pointer;
    width: 100%;
    height: 30px;
    z-index: 1
}

.wrap-list-filter-option .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .wrap-list-filter-option .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background: #828282 !important
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 8px !important;
    border-radius: 20px !important;
    position: relative;
    width: 4px;
    height: 100%;
    margin: 0 auto;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    text-align: center
}

.mCSB_scrollTools .mCSB_draggerRail {
    background: #fff !important;
    width: 8px !important
}

.wrap-list-filter-option .mCSB_scrollTools .mCSB_draggerRail {
    background: #e4e4e4 !important
}

.mCSB_scrollTools .mCSB_draggerRail {
    width: 2px;
    height: 100%;
    margin: 0 auto;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px
}

.widget-heading {
    border-bottom: 1px solid #eee;
    line-height: 35px;
    margin: 0 !important;
    padding-bottom: 2px;
    overflow: hidden;
    margin-top: 11px
}

.main-section {
    padding-left: 15px
}

.box_compare {
    background: url(../img/background/bg_sosanh.png) no-repeat 100% 100%;
    width: 129px;
    height: 21px;
    padding: 3px 0 3px 24px;
    color: #616161;
    font-size: 11px;
    margin: auto;
    line-height: 14px
}

.box_compare:hover {
    background: url(../img/background/bg_sosanh2.png) no-repeat 100% 100%;
    transition-delay: 0
}

.box_compare a {
    color: #616161
}

.info_cate {
    text-align: center;
    line-height: 22px;
    padding: 5px
}

.box_pro_cate {
    text-align: center;
    border: 1px solid #eee
}

.box_pro_cate:hover img {
    opacity: .85
}

.box_pro_cate:hover a {
    color: #ef7d00 !important
}

.box_pro_cate:hover {
    border: 1px solid #ef7d00
}

.title_pro_cate a {
    font-size: 14px;
    color: #696767
}

.price_pro_cate {
    font-size: 16px;
    color: #ba0101;
    font-weight: 700
}

.del_price_pro_cate {
    color: #ba0101;
    font-size: 12px
}

.h_200 {
    height: 200px !important
}

.slimScrollBar {
    cursor: pointer !important
}

.po_pro {
    cursor: pointer;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10px
}

.sub_all_pro {
    margin: 30px 0
}

.cate_sale {
    z-index: 5;
    font-size: 14px;
    position: absolute;
    right: 3px;
    bottom: 10px;
    width: 47px;
    height: 20px;
    background-size: 90% 90%;
    color: #fff;
    font-weight: 700;
    background: red
}

.cate_new {
    z-index: 5;
    font-size: 14px;
    padding: 7px 5px 10px 30px;
    position: absolute;
    right: 0;
    top: 0;
    width: 63px;
    height: 63px;
    background: url(../img/background/bg_new.png) no-repeat;
    background-size: 100% 100%;
    color: #fff;
    font-weight: 700
}

.all_pro {
    margin-top: 15px
}

.slimScrollRailP {
    z-index: 6 !important
}

.slimScrollBar {
    z-index: 7 !important
}

.slimScrollRail {
    z-index: 5 !important
}

.icon_bg {
    border: 1px solid #fff;
    border-left: 1px solid #eee
}

.icon_bg:focus {
    border: 1px solid #fff;
    border-left: 1px solid #eee
}

.bg_ac_fff {
    border: 1px solid #fff;
    border-radius: 0
}

.contact_pro {
    font-size: 18px !important;
    color: #565b70 !important;
    font-weight: 400 !important;
    padding: 10px 15px
}

.icon_r {
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px
}

.driv {
    background-image: url(../img/icon/icon_oto.png)
}

.box_pro_r {
    padding: 10px 15px 15px 10px;
    border: 1px solid #eee;
    margin-bottom: 20px
}

.icon_r {
    width: 35px;
    height: 35px;
    float: left
}

.cd_ez {
    line-height: 20px;
    font-size: 12px;
    color: #3e3e3f;
    padding: 5px 0
}

.text_dsgh {
    font-size: 14px;
    color: #000;
    font-weight: 700;
    padding: 15px 0
}

.box_pro_detail {
    text-align: center;
    margin: 10px
}

.box_news_cate {
    line-height: 20px;
    position: relative;
    margin-top: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px
}

.title_news_cate {
    font-size: 14px;
    font-weight: 700;
    color: #000
}

.view_m_cate a:hover, .title_news_cate:hover {
    color: #ef7d00
}

.des_news_cate {
    font-size: 13px;
    color: #7E7B7B;
    font-style: italic
}

.date_news_cate {
    font-size: 13px;
    color: #EF7D00
}

.view_m_cate {
    position: absolute;
    bottom: 0;
    right: 15px;
    line-height: 15px
}

.view_m_cate a {
    font-size: 13px;
    color: #525151;
    font-weight: 700
}

.img_news_cate:hover {
    opacity: .85
}

.list_ct {
    overflow: hidden;
    background: url(../img/background/bg_list_ct.png) repeat-x;
    background-size: 100% 100%;
    font-size: 13px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #eee;
    padding: 5px 5px 10px 15px
}

.list_ct>ul {
    margin-left: 12px;
    margin-top: 4px
}

.list_ct>ul li {
    padding: 4px 0
}

.list_ct>ul li a {
    line-height: 16px;
    display: block;
    color: #515151
}

.detail_news img, #home img, .detai_page img {
    max-width: 100%;
    height: auto !important;
}

.detai_page ul li, #caption_1 ul li {
    list-style: initial;
    list-style-position: inside
}

.detail_news, .detai_page {
    text-align: justify;
    line-height: 22px
}

.detail_news {
    padding: 10px 0
}

.box_detail_news {
    padding: 15px 0
}

.banner_top img {
    max-width: 100% !important
}

.emty_products {
    padding: 0;
    margin: 0;
    color: red;
    font-size: 20px
}

.alett_like {
    position: absolute;
    right: 40px;
    top: 80px;
    text-align: center;
    width: 280px;
    padding-right: 15px
}

.alett_like a {
    margin-right: 10px
}

.alert_red {
    background: #F47920 !important;
    color: #fff;
    width: 250px
}

.title_page {
    font-weight: 700;
    color: #EF7D00;
    font-size: 18px
}

#binhluan {
    background: rgba(236, 236, 236, 0.4);
    padding-top: 15px
}

.show_binhluan {
    padding: 15px;
    background: rgba(185, 185, 185, 0.13);
    border-top: 1px solid rgba(51, 51, 51, 0.2)
}

.padding-left-15 {
    padding: 15px
}

.title_binhluan {
    color: #333;
    font-weight: 700;
    font-size: 17px
}

.name_sosanh {
    color: #333;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase
}

.content_sosanh {
    overflow: hidden;
    border: thin solid #ebebeb
}

ul.compare_products {
    border-right: thin solid #ebebeb;
    border-left: thin solid #ebebeb;
    padding: 0
}

ul.compare_products > li.td_list {
    font-size: 14px;
    padding: 5px 0;
    border-bottom: thin solid #ebebeb
}

.after-check {
    font-size: 14px
}

.filter_img {
    -webkit-filter: grayscale(100%);
    -moz--filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all .35s ease-in-out !important;
    -moz-transition: all .35s ease-in-out !important;
    -o-transition: all .35s ease-in-out !important;
    -ms-transition: all .35s ease-in-out !important;
    transition: all .35s ease-in-out !important
}

.filter_img:hover {
    -webkit-filter: grayscale(0%);
    -moz--filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%)
}

.name_product {
    text-align: inherit;
    font-weight: 700;
    text-transform: uppercase
}

.text_nomarl {
    text-transform: inherit !important;
    font-weight: 400
}

.name-cate-pro {
    font-size: 13px !important
}

.display_block {
    display: block !important
}

.display_none {
    display: none !important
}

#detail, #caption_1, #video, #tailieu {
    padding: 10px 0;
    line-height: 22px !important
}

.title_caption_1 {
    font-size: 14px;
    font-weight: 700;
    color: #BB5800;
    margin-bottom: 10px
}

.imagelazyload:hover {
    opacity: 1 !important
}

.pagination ul li {
    float: left;
    padding: 0 5px
}

.pagination ul li a {
    background: #EF7D00;
    color: #fff;
    padding: 5px 10px
}

.pagination ul li a:hover {
    background: red !important
}

.paginate_active {
    background: red !important
}

.name_new_cate {
    padding-bottom: 5px
}

.name_new_cate a {
    font-size: 16px;
    color: #333;
    font-weight: 700
}

.name_new_cate:hover a {
    color: #EF7D00
}

.box_news {
    overflow: hidden;
    margin-bottom: 15px
}

.price_old {
    font-size: 14px;
    font-weight: 700;
    color: #565B70;
    padding-left: 3px
}

.image_ss {
    height: 210px !important
}

.desc_ss {
    height: 100px !important;
    padding: 5px !important;
    line-height: 22px
}

.option_ss {
    height: 400px !important;
    padding: 5px !important;
    line-height: 22px;
    overflow: hidden
}

.category_sub {
    font-weight: 700;
    color: #EF7D00;
    text-transform: uppercase
}

.viewcate_more {
    /*background: rgba(0, 0, 0, 0.68);*/
    background-color: #ef7d00;
    padding: 10px;
    margin: 5px 0
}

.viewcate_more a {
    color: #fff
}

.main-2 li, #detail li, #caption_1 li {
    list-style: initial !important;
    list-style-position: inside !important
}

.support-icon-right {
    background: #F0F3EF;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 9;
    overflow: hidden;
    width: 250px;
    color: #fff !important;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.support-icon-right h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px !important;
    font-family: Arial;
    color: #fff !important;
    margin: 0 !important;
    background-color: #EF7D00;
    cursor: pointer
}

.support-icon-right i {
    background-color: #D9534F;
    padding: 15px 15px 12px
}

.online-support {
    display: none
}

.banner-category img, .description_category img {
    max-width: 100% !important;
    height: auto !important
}
.font-size-18{
    font-size: 18px !important;
}


/************ callus ***************/
.callus {
    background: #ff9a51;
    position: fixed;
    bottom: 10px;
    height: 40px;
    line-height: 40px;
    padding: 0 0px 0 0px;
    /*padding: 0 20px 0 0px;*/
    border-radius: 40px;
    color: #fff;
    left: 20px;
    z-index: 99999;
}
.callus i {
    font-size: 20px;
    line-height: 40px;
    background: #f47920;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    text-align: center;
    /*margin-right: 10px;*/
}
.callus a {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
div#detail img {
    width: 100% !important;
    height: auto !important;
}
.p_ads img{max-width: 100%}